<!DOCTYPE html>
<html lang="en">
<head th:replace="common/src"></head>
<link rel="stylesheet" href="/js/public/jqueryValidation/css/validationEngine.jquery.css" type="text/css"/>
<style>
  	.cboItems{ float:left; margin:10px 0 0 15px;}
</style>
<body>
    <div class="father">
    <header th:replace="common/top"></header>
        <div class="common-content">
            <div th:replace="common/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
                        <li>资金管理</li>
                        <li>审核管理</li>
                        <li>线下充值记账审核</li>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                            <div class="formtitle"><span>线下充值记账审核</span></div>
                            <div class="toolsli">
                                <ul class="nbbdgl-Ui clearfix">
                                    <li>
                                        <span class="tips">订单号：</span>
                                        <span th:text="${obj.detail.trans_no}"></span>
                                    </li>
                                    <li>
                                        <span class="tips">申请时间：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'create_time')}?${#dates.format(obj.detail.create_time,'yyyy-MM-dd HH:mm:ss')}:''"></span>
                                    </li>
                                    <li>
                                        <span class="tips">申请人：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'create_user')}?${obj.detail.create_user}"></span>
                                    </li>
                                    <li>
                                        <span class="tips">充值金额：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'amount')}?${#numbers.formatDecimal(obj.detail.amount,1,2)}">1,000,000.00 元</span>
                                    </li>
                                    <li>
                                        <span class="tips">客户类型：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'type_name')}?${obj.detail.type_name}"></span>
                                    </li>
                                    <li>
                                        <span class="tips">客户性质：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'nature_name')}?${obj.detail.nature_name}"></span>
                                    </li>
                                    <li>
                                        <span class="tips">手机号：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'mobile')}?${obj.detail.mobile}"></span>
                                    </li>
                                    <li>
                                        <span class="tips">姓名：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'customer_name')}?${obj.detail.customer_name}">张三</span>
                                    </li>
                                    <li>
                                        <span class="tips">身份证号：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'certificate_no')}?${obj.detail.certificate_no}">10110198210141446</span>
                                    </li>
                                    <li>
                                        <span class="tips">支付银行</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'bank_name')}?${obj.detail.bank_name}"></span>
                                    </li>
                                    <li>
                                        <span class="tips">支付银行卡号：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'bank_card_no')}?${obj.detail.bank_card_no}"></span>
                                    </li>
                                    <li>
                                        <span class="tips">持卡人姓名：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'account_holder')}?${obj.detail.account_holder}"></span>
                                    </li>
                                </ul>
                                <div class="lines"></div>
                                <ul class="nbbdgl-Ui clearfix">
                                    <li>
                                        <span class="tips">开户银行：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'bname')}?${obj.detail.bname}">招商银行</span>
                                    </li>
                                    <li>
                                        <span class="tips">银行卡号：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'bcardno')}?${obj.detail.bcardno}"></span>
                                    </li>
                                    <li>
                                        <span class="tips">持卡人：</span>
                                        <span th:text="${#maps.containsKey(obj.detail, 'aholder')}?${obj.detail.aholder}"></span>
                                    </li>
                                    <li style="width:90%;">
                                        <span class="tips">收款凭证：</span>
                                           <th:block th:unless="${#lists.isEmpty(obj.certificatesInfoList)}">
	                                       <span th:each="url,iterStat:${obj.certificatesInfoList}">
		                                        <img width="150"  th:attr="src=${url.certificatesUrl}"></img>
		                                    </span>
	                                      </th:block>
                                    </li>
                                </ul>
                            </div>
                        <div class="formtitle"><span>审核意见</span></div>
                        
                        <form id="depositApprove">
                        <input type="hidden"  th:value="${obj.detail.trans_no}" name="procInsId"/>
                        <input type="hidden"  th:value="${obj.detail.trans_no}" name="businessId"/>
                        <input type="hidden"  value="1005" name="pass"/>
                        <div class="toolsli">
                            <ul class="nbbdgl-Ui clearfix">
                                <li>
                                    <span class="tips">审核人：</span>
                                    <span th:text="${staffName}"></span>
                                    <input type="hidden" th:value="${staffName}" name="assigneeName" />
                                </li>
                                <li>
                                    <span class="tips">审核结果：</span>
                                     <input type="radio" name="status" class="cboItems validate[required]"  value="90"/><span>通过</span>
                                     <input type="radio" name="status" class="cboItems validate[required]" value="91"/><span>不通过</span>
                                </li>
                                <li>
                                    <span class="tips">审核时间：</span>
                                    <input type="text" class="scinput1 validate[required]" name="taskEndDate" onclick="WdatePicker({autoPickDate:'true',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                </li>
                                <li style="width:80%;">
                                    <span class="tips">备注：</span>
                                    <textarea class="area" name="msg"></textarea>
                                </li>
                            </ul>
                        </div>
                        
                         <p class="textCt pt20 pb20">
                                <input type="button" class="scbtn" id="btn_save" value="确认提交" style="width:120px;"/>
                        </p>
                       </form>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="common/footer"></footer>
    </div>
</body>
<script type="text/javascript" charset="utf-8" src="/js/public/My97DatePicker/WdatePicker.js"></script>
<script src="/js/public/jqueryValidation/js/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8"></script>  
<script src="/js/public/jqueryValidation/js/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">seajs.use("accountInOut/depositApprove");</script>
</html>