<table class="tablelist">
	<thead>
		<tr>
			<th>公司</th>
			<th>部门</th>
			<th>员工编号</th>
			<th>员工名称</th>
			<th>岗位中文名称</th>
			<th>岗位英文名称</th>
		</tr>	
	</thead>
	<tbody>
		<th:block th:unless="${#lists.isEmpty(page.resultList)}">
			<tr th:each="empQuarters , iter: ${page.resultList}">
				<td th:text="${empQuarters.companyName}"></td>
				<td th:text="${empQuarters.ldName}"></td>
				<td th:text="${empQuarters.leqEmpId}"></td>
				<td th:text="${empQuarters.leStaffName}"></td>
				<td th:text="${empQuarters.lqName}"></td>
				<td th:text="${empQuarters.leqEnglishName}"></td>
			</tr>
		</th:block>

		<th:block th:if="${#lists.isEmpty(page.resultList)}">
			<tr>
				<td colspan="7" class="textCt">暂无数据</td>
			</tr>
		</th:block>
	</tbody>
</table>
<div class="pagin" style="margin-top: 0px;" th:unless="${#lists.isEmpty(page.resultList)}">
	<div class="message">
		<!-- <input type="button" value="导出" class="scbtn1" style="width: 65px;" id="export"/>&nbsp;&nbsp;&nbsp; -->
		共 <i class="blue" th:text="${page.totalCount}"></i> 
		条记录，当前显示第 <i class="blue" th:text="${page.pageIndex}"></i> 页
	</div>
	<ul class="paginList">
		<li class="paginItem" th:if="${page.pageIndex} gt 1">
			<a th:attr="data-pagenum=(${page.pageIndex}-1),data-pagesize=${page.pageSize}" class="pagepre"></a>
		</li>
		<li class="paginItem" th:each="x:${#numbers.sequence(page.startNum, page.endNum)}" 
		th:classappend="(${page.pageIndex} eq ${x})?'current'">
			<a th:attr="data-pagenum=${x},data-pagesize=(${page.pageSize})" th:text="${x}"></a>
		</li>
		<li class="paginItem" th:if="${page.pageIndex} lt ${page.pageCount}">
			<a th:attr="data-pagenum=(${page.pageIndex}+1),data-pagesize=(${page.pageSize})" class="pagenxt"></a>
		</li> 
	</ul>
</div>
