<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<link rel="stylesheet" href="/js/public/jqueryValidation/css/validationEngine.jquery.css" type="text/css"/>
<body>
    <div class="father">
        <header th:replace="common/top"></header>
        <div class="common-content">
             <div th:replace="common/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
                        <li>产品管理</li>
                        <li><a href="/credentialsManage/credentialsList">资质模板管理</a></li>
                        <li>新增</li>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                        <div class="formtitle"><span>新增资质模板</span></div>
	                    <div class="toolsli">
	                    <form id="saveForm" action="/credentialsManage/save">
	                        <ul class="nbbdgl-Ui">
	                            <li>
	                                <span class="tips">资质名称：</span>
	                                <input type="text" class="txt validate[required,maxSize[30]]" name="credentialsName"/>
	                            </li>
	                            <li>
	                                <span class="tips">资质英文名称：</span>
	                                <input type="text" class="txt validate[required,maxSize[30],custom[onlyLetterSp]]" name="englishName"/>
	                            </li>
	                            <li>
	                                <span class="tips">资质类型：</span>
	                                 <div class="vocation">
		                                <select class="select-common select1 cascade validate[required]" name="credentialsType" id="credentialsType">
		                                        <option value="">请选择</option>
		                                        <th:block th:each="credentialsTypeVo : ${#ctx.servletContext.getAttribute('enumMap').credentialsTypeList}">
	                                            	<option th:value="${credentialsTypeVo.order}" th:text="${credentialsTypeVo.value}"></option>
		                                        </th:block>
	                                    </select>
	                                 </div>
	                            </li>
	                            <li>
	                                <span class="tips">必/选填：</span>
	                                 <div class="vocation">
		                                <select class="select-common select1 cascade validate[required]"  name="required" >
		                                	 <option value="" >请选择</option>
	                                         <option value="0">选填</option>
	                                         <option value="1">必填</option>
	                                    </select>
	                                </div>
	                            </li>
	                             <li>
	                                <span class="tips">资质描述：</span>
	                                <textarea class="area validate[maxSize[300]]" name="credentialsDes" ></textarea>
	                            </li>
	                        </ul>
	                        </form>
	                    </div>
	                    
	                    <div class="toolsli">
	                        <ul class="nbbdgl-Ui">
	                            <li style="width: 80%;" >
	                                <span class="tips">&nbsp;</span>
	                                <input type="button" class="scbtn mlt10" value="保 存" id="saveButton" />
	                                <input type="button" class="scbtn2 mlt10" value="返 回" onclick="javascript:history.back(-1);"/>
	                            </li>
	                        </ul>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="common/footer"></footer>
    </div>
    <script src="/js/public/jqueryValidation/js/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8"></script>  
	<script src="/js/public/jqueryValidation/js/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$("#saveButton").on("click",function(){
			if(!$('#saveForm').validationEngine('validate')){
				return;
			}
			var formData=$("#saveForm").serialize();
			$.ajax({
				type: "POST",
				url: $('#saveForm')[0].action,
				processData:true,
				data:formData,
				success: function(data){
				 if(data.retCode=="00"){
					 alert(data.retMsg,function(){
						 window.location.href="/credentialsManage/credentialsList";
						});
				  }else{
					alert(data.retMsg,function(){
						//window.location.reload(true);
					});
				  }
				},error : function(e){
					//alert(e);
				}
			});  	
		});
	</script>
</body>
</html>