<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<body>
    <div class="father">
        <header th:replace="common/top"></header>
        <div class="common-content">
             <div th:replace="common/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
                        <li>产品管理</li>
                        <li><a href="/credentialsManage/credentialsList">资质模板管理</a></li>
                        <li><a>查看</a></li>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                         <div class="formtitle"><span>资质信息</span></div>
                        <div class="toolsli">
                            <ul class="nbbdgl-Ui clearfix">
                               <li style="width:80%;">
                                    <span class="tips">序号：</span>
                                    <span th:text="${credentialsNo}"></span>
                                </li>
                                <li style="width:80%;">
                                    <span class="tips">资质类型：</span>
                                    <span th:switch="${credentials.credentialsType}">
						            	<th:block th:case="0">基本资质</th:block>
						            	<th:block th:case="1">房产资质 </th:block>
						            	<th:block th:case="2">车产资质</th:block>
						            	<th:block th:case="3">信用资质 </th:block>
						            	<th:block th:case="4">合同资质</th:block>
						            	<th:block th:case="5">其他资质</th:block>
						            </span>
                                </li>
                                <li style="width:80%;">
                                    <span class="tips">资质名称：</span>
                                    <span th:text="${credentials.credentialsName}"></span>
                                </li>
                                <li style="width:80%;">
                                    <span class="tips">资质英文名称：</span>
                                    <span th:text="${credentials.englishName}"></span>
                                </li>
                                <li style="width:80%;">
                                    <span class="tips">必/选填：</span>
                                    <span th:if="${credentials.required} eq 0">否</span>
                                    <span th:if="${credentials.required} eq 1">是</span>
                                </li>
                                <li style="width:80%;">
                                    <span class="tips">资质描述：</span>
                                    <span th:text="${credentials.credentialsDes}"></span>
                                </li>
                            </ul>
                        </div>
	                        <p class="textCt pt15">
	                            <input type="button" class="scbtn2" value="返 回" onclick="javascript:history.go(-1);"/>
	                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="common/footer"></footer>
    </div>
</body>
</html>