<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<body>
    <div class="father">
         <header th:replace="common/top"></header>
        <div class="common-content">
            <div th:replace="common/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
                        <li>产品管理</li>
                        <li>资质模板管理</li>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                        <div id="usual1" class="usual">
                            <form  id="myForm" action="/credentialsManage/credentialsList">
                    			<input type="hidden" name="pageIndex" th:value="${page.pageIndex}" id="currentPageNo"/>
                    		</form>
                    		<ul class="seachform1">
                                <li class="sarchbtn" style="float: right;">
                                    <input sec:authorize="hasRole('ROLE_CREDENTIALS_ADD')" type="button" class="scbtn1" value="新增" onclick="javascript:window.location.href='/credentialsManage/add'"/>
                                </li>
                            </ul>
                            <div class="table-title">
                                <p class="tab-font">资质模板管理</p>
                            </div>
                            <table class="tablelist">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>资质类型</th>
                                        <th>资质名称</th>
                                        <th>是否必填</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!-- <td th:text="${borrower.createTime}?${#dates.format(borrower.createTime,'yyyy-MM-dd')}:''"></td> -->
                                  <th:block th:unless="${#lists.isEmpty(page.resultList)}">
										<tr th:each="credentials,iterStat : ${page.resultList}">
	                                        <td th:text="${iterStat.count}"></td>
	                                        <td th:switch="${credentials.credentialsType}">
								            	<th:block th:case="0">基本资质</th:block>
								            	<th:block th:case="1">房产资质 </th:block>
								            	<th:block th:case="2">车产资质</th:block>
								            	<th:block th:case="3">信用资质 </th:block>
								            	<th:block th:case="4">合同资质</th:block>
								            	<th:block th:case="5">其他资质</th:block>
								            </td>
	                                        <td th:text="${credentials.credentialsName}"></td>
	                                        <td>
	                                        	<th:block th:if="${credentials.required} eq 0">否</th:block>
	                                        	<th:block th:if="${credentials.required} eq 1">是</th:block>
	                                        </td>
	                                         <td>
	                                        	<th:block th:if="${credentials.status} eq 0">禁用</th:block>
	                                        	<th:block th:if="${credentials.status} eq 1">启用</th:block>
	                                        </td>
	                                        <td>
	                                             <a sec:authorize="hasRole('ROLE_CREDENTIALS_VIEW')" th:href="@{/credentialsManage/getCredentialsInfo(credentialsId=${credentials.credentialsId},credentialsNo=${iterStat.count})}" class="tablelink">查看</a>
	                                             <a sec:authorize="hasRole('ROLE_CREDENTIALS_EDIT')" th:href="@{/credentialsManage/edit(id=${credentials.credentialsId})}" class="tablelink mlt10">修改</a>
	                                             <th:block th:if="${credentials.status} eq 1">
		                                        	<a sec:authorize="hasRole('ROLE_CREDENTIALS_IFENABLE')" href="javascript:void(0);" class="tablelink mlt10 credentialsStatus" data-enable="0" th:attr="data-numb=(${credentials.credentialsId})" >禁用</a>
		                                        </th:block>
		                                        <th:block th:if="${credentials.status} eq 0">
		                                        	<a sec:authorize="hasRole('ROLE_CREDENTIALS_IFENABLE')" href="javascript:void(0);" class="tablelink mlt10 credentialsStatus" data-enable="1" th:attr="data-numb=(${credentials.credentialsId})" >启用</a>
		                                        </th:block>
	                                        </td>
		                                </tr>
		                         	</th:block>
                                   	<th:block th:if="${#lists.isEmpty(page.resultList)}">
										<tr>
											<td colspan="6" class="textCt">暂无数据</td>
										</tr>
									</th:block>
                                </tbody>
                            </table>
                            <div class="pagin" th:unless="${#lists.isEmpty(page.resultList)}">
								<div class="message">
									共 <i class="blue" th:text="${page.totalCount}"></i> 
									条记录，当前显示第 <i class="blue" th:text="${page.pageIndex}"></i> 页
								</div>
								<ul class="paginList">
									<li class="paginItem" th:if="${page.pageIndex} gt 1">
										<a th:attr="data-pagenum=(${page.pageIndex}-1),data-pagesize=${page.pageSize}" class="pagepre"></a>
									</li>
									<li class="paginItem" th:each="x:${#numbers.sequence(page.startNum, page.endNum)}" 
									th:classappend="(${page.pageIndex} eq ${x})?'current'">
										<a th:attr="data-pagenum=${x},data-pagesize=(${page.pageSize})" th:text="${x}"></a>
									</li>
									<li class="paginItem" th:if="${page.pageIndex} lt ${page.pageCount}">
										<a th:attr="data-pagenum=(${page.pageIndex}+1),data-pagesize=(${page.pageSize})" class="pagenxt"></a>
									</li> 
								</ul>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           <footer th:replace="common/footer"></footer>
    </div>
</body>
	<script type="text/javascript">
	$(function(){
		//禁用启用
		$(".credentialsStatus").on("click",function(){
			var ifEnable = $(this).attr('data-enable');
			var credentialsId = $(this).attr('data-numb');
			$.post("/credentialsManage/credentialsIfEnable",{ifEnable:ifEnable,credentialsId:credentialsId},function(data){
				 if(data.retCode=="00"){
					 alert(data.retMsg,false,function(){
						 window.location.reload(true);
						});
				  }else{
					alert(data.retMsg,false,function(){
						window.location.reload(true);
					});
				  }
			})
		});
		//分页
		var $ur_a = $(".paginItem a");
		$ur_a.on("click",function(){
			var currentPageNo = $(this).attr("data-pagenum");			
			$("#currentPageNo").val(currentPageNo);
			$("#myForm").submit();		
		});	
	})
	
	</script>
</html>