<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-wf/src"></head>
<script type="text/javascript" src="/js/public/My97DatePicker/WdatePicker.js"></script>
<body>
    <div class="father">
        <header th:replace="common-wf/top"></header>
        <div class="common-content">
            <div th:replace="common-wf/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li>我的任务</li>
                        <li>待办任务</li>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                        <div id="usual1" class="usual">
                        	
                            <div id="workflowList" th:include="workflow/_actTaskTodoList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="common-wf/footer"></footer>
    </div>

</body>
</html>