<div class="formtitle"><span>资质清单</span></div>
<table class="tablelist">
    <thead>
        <tr>
            <th>选择</th>
            <th>资质类型</th>
            <th>资质名称</th>
            <th>上传时间</th>
            <th>是否必填</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    	<th:block th:unless="${#lists.isEmpty(page.resultList)}">
	        <tr th:each="cred : ${page.resultList}">
	            <td>
	                <input type="checkbox" th:attr="data-orderCredentialsNo=${cred.orderCredentialsNo}" th:disabled="${not cred.orderCredentialsStatus}"/>
	            </td>
	            <td th:switch="${cred.orderCredentialsType}">
	            	<th:block th:case="0">基本资质</th:block>
	            	<th:block th:case="1">房产资质 </th:block>
	            	<th:block th:case="2">车产资质</th:block>
	            	<th:block th:case="3">信用资质 </th:block>
	            	<th:block th:case="4">合同资质</th:block>
	            	<th:block th:case="5">其他资质</th:block>
	            </td>
	            <td th:text="${cred.orderCredentialsName}"></td>
	            <td th:text="${cred.orderCredentialsUploadTime}?${#dates.format(cred.orderCredentialsUploadTime,'yyyy/MM/dd HH:mm:ss')}"></td>
	            <td>
	            	<th:block th:if="${cred.orderCredentialsRequired} neq 1">否</th:block>
	            	<th:block th:if="${cred.orderCredentialsRequired} eq 1">是</th:block>
	            </td>
	            <td>
	            	<th:block th:if="${cred.orderCredentialsStatus} neq 1">未上传</th:block>
	            	<th:block th:if="${cred.orderCredentialsStatus} eq 1">已上传</th:block>
	            </td>
	            <td>
	                <a th:href="@{'/mortgageInfo/toViewPage/'+${cred.orderCredentialsNo}}" class="tablelink mlt10 credentialDetail">查看</a>
	            </td>
	        </tr>
	    </th:block>
	    <th:block th:if="${#lists.isEmpty(page.resultList)}">    
        	<tr><td colspan="7" align="center">暂无资质信息</td></tr>
        </th:block>
    </tbody>
</table>
<div class="pagin" th:unless="${#lists.isEmpty(page.resultList)}">
	<div class="message">
		<input type="button" value="打包下载" class="scbtn1" style="width: 65px;" id="downloadFile"/>
		&nbsp;&nbsp;&nbsp;共 <i class="blue" th:text="${page.totalCount}"></i> 
		条记录，当前显示第 <i class="blue" th:text="${page.pageIndex}"></i> 页
	</div>
	<ul class="paginList">
		<li class="paginItem" th:if="${page.pageIndex} gt 1">
			<a th:attr="data-pagenum=(${page.pageIndex}-1),data-pagesize=${page.pageSize}" class="pagepre"></a>
		</li>
		<li class="paginItem" th:each="x:${#numbers.sequence(page.startNum, page.endNum)}" 
		th:classappend="(${page.pageIndex} eq ${x})?'current'">
			<a th:attr="data-pagenum=${x},data-pagesize=(${page.pageSize})" th:text="${x}"></a>
		</li>
		<li class="paginItem" th:if="${page.pageIndex} lt ${page.pageCount}">
			<a th:attr="data-pagenum=(${page.pageIndex}+1),data-pagesize=(${page.pageSize})" class="pagenxt"></a>
		</li> 
	</ul>
</div>
<p class="textCt pt20">
    <input type="button" class="scbtn2" value="返 回" onclick="javascript:history.go(-1);"/>
</p>