<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<style>
    .imglist li{cursor: pointer;}
</style>
<body>
    <div class="father">
        <header th:replace="common/top"></header>
        <div class="common-content">
            <div th:replace="common/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
	                    <li>业务管理</li>
                        <li>贷前管理</li>
	                    <li>查看资质</li>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                    	<div class="formtitle"><span>资质信息</span></div>
	                    <h5>【<th:block th:text="${credentials}?${credentials.orderCredentialsName}"></th:block>】</h5>
	                    <th:block th:if="${not #lists.isEmpty(urlLists)}">
		                    <ul class="imglist">
		                        <li th:each="url : ${urlLists}">
		                            <span>
		                            	<th:block th:switch="${url.fileExtension}">
	                                	<th:block th:case=".xls">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img  th:src="@{/img/excel.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".xlsx">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/excel.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".xlsm">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/excel.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".doc">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/word.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".docx">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/word.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".docm">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/word.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".pdf">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/pdf.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case="*">
	                                		<img th:src="@{${url.pathUrl}}"/>
	                                	</th:block>
		                            </th:block>
		                            </span>
		                        </li>
		                    </ul>
		                </th:block>
		                <th:block th:if="${#lists.isEmpty(urlLists)}">
	                    	<p style="margin-left: 29px; line-height: 40px;">暂无资质</p>
	                    </th:block>
	                    <p style="margin-left:29px;">
	                        <input type="button" class="scbtn2" value="返 回" id="goBack"/>
	                    </p>
	                    <div class="lines pt20 imgList-singe"></div>
	                    <div class="imgzs imgList-singe">
	                        <img src="" id="singe"/>
	                    </div>
	                    <p class="btnOp imgList-singe">
	                        <input type="button" class="scbtn1" value="顺时针旋转" style="width: 82px;" id="clockwise"/>
	                        <input type="button" class="scbtn1 mlt10" value="垂直翻转" style="width: 72px;" id="vertical"/>
	                        <input type="button" class="scbtn1 mlt10" value="查看原图" style="width: 72px;" id="lookPic"/>
	                    </p>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="common/footer"></footer>
    </div>
    <script type="text/javascript">
    	seajs.use("auditing/viewImg");
    </script>
</body>
</html>