<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhhs.loan.dao.LoanOrgSupportAreasMapper" >
  <resultMap id="BaseResultMap" type="com.lhhs.loan.dao.domain.LoanOrgSupportAreas" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="area_no" property="areaNo" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_categories" property="orgCategories" jdbcType="TINYINT" />
    <result column="org_type" property="orgType" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="province_no" property="provinceNo" jdbcType="VARCHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_no" property="cityNo" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
  	<result column="le_staff_name" property="leStaffName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_id, area_no, area_name, manager_id, org_name, org_code, org_categories, org_type, 
    create_date, province_no, province_name, city_no, city_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from loan_org_support_areas
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from loan_org_support_areas
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas" >
    insert into loan_org_support_areas (id, org_id, area_no, 
      area_name, manager_id, org_name, 
      org_code, org_categories, org_type, 
      create_date, province_no, province_name, 
      city_no, city_name)
    values (#{id,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{areaNo,jdbcType=VARCHAR}, 
      #{areaName,jdbcType=VARCHAR}, #{managerId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, 
      #{orgCode,jdbcType=VARCHAR}, #{orgCategories,jdbcType=TINYINT}, #{orgType,jdbcType=TINYINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{provinceNo,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityNo,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas" >
    insert into loan_org_support_areas
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="areaNo != null" >
        area_no,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgCategories != null" >
        org_categories,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="provinceNo != null" >
        province_no,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityNo != null" >
        city_no,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="areaNo != null" >
        #{areaNo,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCategories != null" >
        #{orgCategories,jdbcType=TINYINT},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceNo != null" >
        #{provinceNo,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityNo != null" >
        #{cityNo,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas" >
    update loan_org_support_areas
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="areaNo != null" >
        area_no = #{areaNo,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCategories != null" >
        org_categories = #{orgCategories,jdbcType=TINYINT},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceNo != null" >
        province_no = #{provinceNo,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityNo != null" >
        city_no = #{cityNo,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas" >
    update loan_org_support_areas
    set org_id = #{orgId,jdbcType=BIGINT},
      area_no = #{areaNo,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_categories = #{orgCategories,jdbcType=TINYINT},
      org_type = #{orgType,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      province_no = #{provinceNo,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_no = #{cityNo,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- ########################################### Li Jianjun Start ########################################### -->
  <!-- 查询组织机构实体bean -->
  <select id="selectLoanOrgSupportAreas" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT
  		osa.*,le.staff_name le_staff_name
  	FROM 
  		loan_org_support_areas osa
	INNER JOIN 
		loan_order_info loi on osa.area_no = loi.city
	LEFT JOIN 
		bump_user le on osa.manager_id = le.user_id
	WHERE 
		(osa.org_categories=1 or osa.org_categories = 3) 
	AND 
		loi.order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <!-- ########################################### Li Jianjun End   ########################################### -->
  <delete id="deleteByOrgId">
  	delete from loan_org_support_areas where org_id = #{orgId}
  </delete>
  
  <!-- 根据条件查询相关记录 -->
  <select id="queryList" parameterType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas" resultType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas">
  	select 
    	osa.*,le.staff_name le_staff_name
    from loan_org_support_areas osa
    left join bump_user le on osa.manager_id = le.user_id
    where 1 = 1
    <if test="orgId != null">
    	and osa.org_id = #{orgId}
    </if>
  </select>
  <!-- 根据资金方查询支持的省 -->
  <select id="getOrgSupportProvince" parameterType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas" resultType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas">
	SELECT DISTINCT
		province_no,
		province_name
	FROM
		loan_org_support_areas
	WHERE
		org_id = #{orgId}
  </select>
  <!-- 根据资金方查询支持的市 -->
  <select id="getOrgSupportCity" parameterType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas" resultType="com.lhhs.loan.dao.domain.LoanOrgSupportAreas">
	SELECT DISTINCT
		city_name,
		city_no
	FROM
		loan_org_support_areas
	WHERE
		org_id = #{orgId}
	AND province_no = #{provinceNo}
  </select>
  
  <!-- 根据Emp查询相关资金方 -->
  <select id="selectOrgSupportAreasByEmp" parameterType="com.lhhs.loan.dao.domain.LoanEmp" resultMap="BaseResultMap">
  	SELECT osa.*
  	FROM loan_org_support_areas osa
	<if test="branchCompanyId != null and branchCompanyId != '' and branchCompanyId!=companyId">
		INNER JOIN bump_user le
    	ON (osa.city_name = #{leCity} or osa.area_name = #{leCity})
    </if>
    WHERE (osa.org_categories=1 or osa.org_categories = 3)
    GROUP BY osa.org_id
  </select>
  
</mapper>