<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhhs.loan.dao.LoanOrderCredentialsMapper" >
  <resultMap id="BaseResultMap" type="com.lhhs.loan.dao.domain.LoanOrderCredentials" >
    <id column="order_credentials_no" property="orderCredentialsNo" jdbcType="BIGINT" />
    <result column="order_product_id" property="orderProductId" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_credentials_name" property="orderCredentialsName" jdbcType="VARCHAR" />
    <result column="order_credentials_english_name" property="orderCredentialsEnglishName" jdbcType="VARCHAR" />
    <result column="order_credentials_type" property="orderCredentialsType" jdbcType="VARCHAR" />
    <result column="order_credentials_required" property="orderCredentialsRequired" jdbcType="VARCHAR" />
    <result column="order_credentials_des" property="orderCredentialsDes" jdbcType="VARCHAR" />
    <result column="order_credentials_status" property="orderCredentialsStatus" jdbcType="VARCHAR" />
    <result column="order_credentials_upload_time" property="orderCredentialsUploadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_credentials_no, order_product_id, order_no, order_credentials_name, order_credentials_english_name, order_credentials_type, 
    order_credentials_required, order_credentials_des, order_credentials_status, order_credentials_upload_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from loan_order_credentials
    where order_credentials_no = #{orderCredentialsNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from loan_order_credentials
    where order_credentials_no = #{orderCredentialsNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhhs.loan.dao.domain.LoanOrderCredentials" >
    insert into loan_order_credentials (order_credentials_no, order_product_id, 
      order_no, order_credentials_name, order_credentials_type, 
      order_credentials_required, order_credentials_des, 
      order_credentials_status, order_credentials_upload_time
      )
    values (#{orderCredentialsNo,jdbcType=BIGINT}, #{orderProductId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{orderCredentialsName,jdbcType=VARCHAR}, #{orderCredentialsType,jdbcType=VARCHAR}, 
      #{orderCredentialsRequired,jdbcType=VARCHAR}, #{orderCredentialsDes,jdbcType=VARCHAR}, 
      #{orderCredentialsStatus,jdbcType=VARCHAR}, #{orderCredentialsUploadTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhhs.loan.dao.domain.LoanOrderCredentials" >
    insert into loan_order_credentials
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderCredentialsNo != null" >
        order_credentials_no,
      </if>
      <if test="orderProductId != null" >
        order_product_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderCredentialsName != null" >
        order_credentials_name,
      </if>
      <if test="null!=orderCredentialsEnglishName and ''!=orderCredentialsEnglishName" >
        order_credentials_english_name,
      </if>
      <if test="orderCredentialsType != null" >
        order_credentials_type,
      </if>
      <if test="orderCredentialsRequired != null" >
        order_credentials_required,
      </if>
      <if test="orderCredentialsDes != null" >
        order_credentials_des,
      </if>
      <if test="orderCredentialsStatus != null" >
        order_credentials_status,
      </if>
      <if test="orderCredentialsUploadTime != null" >
        order_credentials_upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderCredentialsNo != null" >
        #{orderCredentialsNo,jdbcType=BIGINT},
      </if>
      <if test="orderProductId != null" >
        #{orderProductId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsName != null" >
        #{orderCredentialsName,jdbcType=VARCHAR},
      </if>
      <if test="null!=orderCredentialsEnglishName and ''!=orderCredentialsEnglishName" >
        #{orderCredentialsEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsType != null" >
        #{orderCredentialsType,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsRequired != null" >
        #{orderCredentialsRequired,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsDes != null" >
        #{orderCredentialsDes,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsStatus != null" >
        #{orderCredentialsStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsUploadTime != null" >
        #{orderCredentialsUploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhhs.loan.dao.domain.LoanOrderCredentials" >
    update loan_order_credentials
    <set >
      <if test="orderProductId != null" >
        order_product_id = #{orderProductId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsName != null" >
        order_credentials_name = #{orderCredentialsName,jdbcType=VARCHAR},
      </if>
      <if test="null!=orderCredentialsEnglishName and ''!=orderCredentialsEnglishName" >
      	order_credentials_english_name = #{orderCredentialsEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsType != null" >
        order_credentials_type = #{orderCredentialsType,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsRequired != null" >
        order_credentials_required = #{orderCredentialsRequired,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsDes != null" >
        order_credentials_des = #{orderCredentialsDes,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsStatus != null" >
        order_credentials_status = #{orderCredentialsStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderCredentialsUploadTime != null" >
        order_credentials_upload_time = #{orderCredentialsUploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_credentials_no = #{orderCredentialsNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhhs.loan.dao.domain.LoanOrderCredentials" >
    update loan_order_credentials
    set order_product_id = #{orderProductId,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_credentials_name = #{orderCredentialsName,jdbcType=VARCHAR},
      order_credentials_type = #{orderCredentialsType,jdbcType=VARCHAR},
      order_credentials_required = #{orderCredentialsRequired,jdbcType=VARCHAR},
      order_credentials_des = #{orderCredentialsDes,jdbcType=VARCHAR},
      order_credentials_status = #{orderCredentialsStatus,jdbcType=VARCHAR},
      order_credentials_upload_time = #{orderCredentialsUploadTime,jdbcType=TIMESTAMP}
    where order_credentials_no = #{orderCredentialsNo,jdbcType=BIGINT}
  </update>
  
  <!-- 查询订单资质信息 -->
  <select id="findOrderCredentialsInfoLists" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loan_order_credentials where 1=1 
    <if test="orderNo != null">
    	and order_no = #{orderNo}
    </if>
    <if test="productId != null">
    	and order_product_id = #{productId}
    </if>
    <if test="orderCredentialsStatus != null">
    	and order_credentials_status = #{orderCredentialsStatus}
    </if>
    	order by order_credentials_required desc
    <if test="startIndex != null and count != null">
    	Limit #{startIndex},#{count}
    </if>
  </select>
  <!-- 查询订单资质信息总条数 -->
  <select id="findOrderCredentialsInfoCount" resultType="int">
    select count(1) from loan_order_credentials where 1=1 
    <if test="orderNo != null">
    	and order_no = #{orderNo}
    </if>
    <if test="productId != null">
    	and order_product_id = #{productId}
    </if>
  </select>
  <!-- 查询订单资质信息必传资质未上传总条数 -->
  <select id="findOrderRequiredCredentialsInfoNoUploadCount" resultType="int">
    select count(1) from loan_order_credentials where 1=1 
    <if test="orderNo != null">
    	and order_no = #{orderNo}
    </if>
    <if test="productId != null">
    	and order_product_id = #{productId}
    </if>
    	and order_credentials_required = 1 
    	and order_credentials_status = 0
  </select>
  <!-- 查询已经上传的图片信息解析文本  -->
  <select id="queryOrderCredentialsParseJson" parameterType="map" resultType="map">
    select loc.order_credentials_no orderCredentialsNo, loc.order_credentials_name orderCredentialsName, loc.order_credentials_english_name orderCredentialsEnglishName, locu.parse_json parseJson
    from loan_order_credentials loc, loan_order_credentials_url locu
    where loc.order_credentials_no=locu.order_credentials_no and loc.order_credentials_status='1' and locu.parse_json is not null
    <if test="null!=orderNo and ''!=orderNo">
    	and loc.order_no=#{orderNo}
    </if>
    <if test="null!=orderProductId and ''!=orderProductId">
    	and loc.order_product_id=#{orderProductId}
    </if>
    <if test="null!=englishNames and ''!=englishNames">
    	and loc.order_credentials_english_name in(${englishNames})
    </if>
  </select>
</mapper>