<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhhs.loan.dao.LoanPayPlanCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.lhhs.loan.dao.domain.LoanPayPlanCompany" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="trans_main_id" property="transMainId" jdbcType="VARCHAR" />
    <result column="repayment_method" property="repaymentMethod" jdbcType="VARCHAR" />
    <result column="repayment_total" property="repaymentTotal" jdbcType="DECIMAL" />
    <result column="repayment_capital" property="repaymentCapital" jdbcType="DECIMAL" />
    <result column="repayment_capital_sed" property="repaymentCapitalSed" jdbcType="DECIMAL" />
    <result column="repayment_capital_time" property="repaymentCapitalTime" jdbcType="TIMESTAMP" />
    <result column="repayment_interest" property="repaymentInterest" jdbcType="DECIMAL" />
    <result column="repayment_interest_time" property="repaymentInterestTime" jdbcType="TIMESTAMP" />
    <result column="overdue_days" property="overdueDays" jdbcType="INTEGER" />
    <result column="period" property="period" jdbcType="SMALLINT" />
    <result column="overdue_interest_total" property="overdueInterestTotal" jdbcType="DECIMAL" />
    <result column="overdue_capital" property="overdueCapital" jdbcType="DECIMAL" />
    <result column="overdue_interest" property="overdueInterest" jdbcType="DECIMAL" />
    <result column="compensate" property="compensate" jdbcType="DECIMAL" />
    <result column="fees_total" property="feesTotal" jdbcType="DECIMAL" />
    <result column="sevice_fee" property="seviceFee" jdbcType="DECIMAL" />
    <result column="advance_total" property="advanceTotal" jdbcType="DECIMAL" />
    <result column="advance_capital" property="advanceCapital" jdbcType="DECIMAL" />
    <result column="advance_interest" property="advanceInterest" jdbcType="DECIMAL" />
    <result column="repayment_actual_time" property="repaymentActualTime" jdbcType="TIMESTAMP" />
    <result column="repaymented_time" property="repaymentedTime" jdbcType="TIMESTAMP" />
    <result column="capital_time" property="capitalTime" jdbcType="TIMESTAMP" />
    <result column="interest_time" property="interestTime" jdbcType="TIMESTAMP" />
    <result column="trans_type" property="transType" jdbcType="VARCHAR" />
    <result column="paid_total" property="paidTotal" jdbcType="DECIMAL" />
    <result column="paid_capital" property="paidCapital" jdbcType="DECIMAL" />
    <result column="paid_interest" property="paidInterest" jdbcType="DECIMAL" />
    <result column="paid_overdue" property="paidOverdue" jdbcType="DECIMAL" />
    <result column="paid_compensate" property="paidCompensate" jdbcType="DECIMAL" />
    <result column="interest_start" property="interestStart" jdbcType="VARCHAR" />
    <result column="interest_end" property="interestEnd" jdbcType="VARCHAR" />
    <result column="interest_spread" property="interestSpread" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_user" property="lastUser" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="field1" property="field1" jdbcType="VARCHAR" />
    <result column="field2" property="field2" jdbcType="VARCHAR" />
    <result column="field3" property="field3" jdbcType="VARCHAR" />
    <result column="field4" property="field4" jdbcType="VARCHAR" />
    <result column="field5" property="field5" jdbcType="VARCHAR" />
    
     <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="provience_name" property="provienceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
     <result column="period_total" property="periodTotal" jdbcType="SMALLINT" />
     <result column="invest_period" property="investPeriod" jdbcType="SMALLINT" />
     <result column="period_total_all" property="periodTotalAll" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, customer_id, customer_name, account_id, trans_main_id, repayment_method, 
    repayment_total, repayment_capital, repayment_capital_time, repayment_interest, repayment_interest_time, 
    overdue_days, period, overdue_interest_total, overdue_capital, overdue_interest, 
    compensate, fees_total, sevice_fee, advance_total, advance_capital, advance_interest, 
    repayment_actual_time, repaymented_time, capital_time, interest_time, trans_type, 
    paid_total, paid_capital, paid_interest, paid_overdue, paid_compensate, interest_start, 
    interest_end, interest_spread, status, create_user, create_time, last_user, last_modify_time, 
    field1, field2, field3, field4, field5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from loan_pay_plan_company
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from loan_pay_plan_company
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" >
    insert into loan_pay_plan_company (id, order_no, customer_id, 
      customer_name, account_id, trans_main_id, 
      repayment_method, repayment_total, repayment_capital, 
      repayment_capital_time, repayment_interest, 
      repayment_interest_time, overdue_days, period, 
      overdue_interest_total, overdue_capital, overdue_interest, 
      compensate, fees_total, sevice_fee, 
      advance_total, advance_capital, advance_interest, 
      repayment_actual_time, repaymented_time, 
      capital_time, interest_time, trans_type, 
      paid_total, paid_capital, paid_interest, 
      paid_overdue, paid_compensate, interest_start, 
      interest_end, interest_spread, status, 
      create_user, create_time, last_user, 
      last_modify_time, field1, field2, 
      field3, field4, field5
      )
    values (#{id}, #{orderNo,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{transMainId,jdbcType=VARCHAR}, 
      #{repaymentMethod,jdbcType=VARCHAR}, #{repaymentTotal,jdbcType=DECIMAL}, #{repaymentCapital,jdbcType=DECIMAL}, 
      #{repaymentCapitalTime,jdbcType=TIMESTAMP}, #{repaymentInterest,jdbcType=DECIMAL}, 
      #{repaymentInterestTime,jdbcType=TIMESTAMP}, #{overdueDays,jdbcType=INTEGER}, #{period,jdbcType=SMALLINT}, 
      #{overdueInterestTotal,jdbcType=DECIMAL}, #{overdueCapital,jdbcType=DECIMAL}, #{overdueInterest,jdbcType=DECIMAL}, 
      #{compensate,jdbcType=DECIMAL}, #{feesTotal,jdbcType=DECIMAL}, #{seviceFee,jdbcType=DECIMAL}, 
      #{advanceTotal,jdbcType=DECIMAL}, #{advanceCapital,jdbcType=DECIMAL}, #{advanceInterest,jdbcType=DECIMAL}, 
      #{repaymentActualTime,jdbcType=TIMESTAMP}, #{repaymentedTime,jdbcType=TIMESTAMP}, 
      #{capitalTime,jdbcType=TIMESTAMP}, #{interestTime,jdbcType=TIMESTAMP}, #{transType,jdbcType=VARCHAR}, 
      #{paidTotal,jdbcType=DECIMAL}, #{paidCapital,jdbcType=DECIMAL}, #{paidInterest,jdbcType=DECIMAL}, 
      #{paidOverdue,jdbcType=DECIMAL}, #{paidCompensate,jdbcType=DECIMAL}, #{interestStart,jdbcType=VARCHAR}, 
      #{interestEnd,jdbcType=VARCHAR}, #{interestSpread,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUser,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=TIMESTAMP}, #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR}, 
      #{field3,jdbcType=VARCHAR}, #{field4,jdbcType=VARCHAR}, #{field5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" useGeneratedKeys="true" keyProperty="id">
    insert into loan_pay_plan_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="transMainId != null" >
        trans_main_id,
      </if>
      <if test="repaymentMethod != null" >
        repayment_method,
      </if>
      <if test="repaymentTotal != null" >
        repayment_total,
      </if>
      <if test="repaymentCapital != null" >
        repayment_capital,
      </if>
      <if test="repaymentCapitalTime != null" >
        repayment_capital_time,
      </if>
      <if test="repaymentInterest != null" >
        repayment_interest,
      </if>
      <if test="repaymentInterestTime != null" >
        repayment_interest_time,
      </if>
      <if test="overdueDays != null" >
        overdue_days,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="overdueInterestTotal != null" >
        overdue_interest_total,
      </if>
      <if test="overdueCapital != null" >
        overdue_capital,
      </if>
      <if test="overdueInterest != null" >
        overdue_interest,
      </if>
      <if test="compensate != null" >
        compensate,
      </if>
      <if test="feesTotal != null" >
        fees_total,
      </if>
      <if test="seviceFee != null" >
        sevice_fee,
      </if>
      <if test="advanceTotal != null" >
        advance_total,
      </if>
      <if test="advanceCapital != null" >
        advance_capital,
      </if>
      <if test="advanceInterest != null" >
        advance_interest,
      </if>
      <if test="repaymentActualTime != null" >
        repayment_actual_time,
      </if>
      <if test="repaymentedTime != null" >
        repaymented_time,
      </if>
      <if test="capitalTime != null" >
        capital_time,
      </if>
      <if test="interestTime != null" >
        interest_time,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="paidTotal != null" >
        paid_total,
      </if>
      <if test="paidCapital != null" >
        paid_capital,
      </if>
      <if test="paidInterest != null" >
        paid_interest,
      </if>
      <if test="paidOverdue != null" >
        paid_overdue,
      </if>
      <if test="paidCompensate != null" >
        paid_compensate,
      </if>
      <if test="interestStart != null" >
        interest_start,
      </if>
      <if test="interestEnd != null" >
        interest_end,
      </if>
      <if test="interestSpread != null" >
        interest_spread,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUser != null" >
        last_user,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="field1 != null" >
        field1,
      </if>
      <if test="field2 != null" >
        field2,
      </if>
      <if test="field3 != null" >
        field3,
      </if>
      <if test="field4 != null" >
        field4,
      </if>
      <if test="field5 != null" >
        field5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="transMainId != null" >
        #{transMainId,jdbcType=VARCHAR},
      </if>
      <if test="repaymentMethod != null" >
        #{repaymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="repaymentTotal != null" >
        #{repaymentTotal,jdbcType=DECIMAL},
      </if>
      <if test="repaymentCapital != null" >
        #{repaymentCapital,jdbcType=DECIMAL},
      </if>
      <if test="repaymentCapitalTime != null" >
        #{repaymentCapitalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentInterest != null" >
        #{repaymentInterest,jdbcType=DECIMAL},
      </if>
      <if test="repaymentInterestTime != null" >
        #{repaymentInterestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overdueDays != null" >
        #{overdueDays,jdbcType=INTEGER},
      </if>
      <if test="period != null" >
        #{period,jdbcType=SMALLINT},
      </if>
      <if test="overdueInterestTotal != null" >
        #{overdueInterestTotal,jdbcType=DECIMAL},
      </if>
      <if test="overdueCapital != null" >
        #{overdueCapital,jdbcType=DECIMAL},
      </if>
      <if test="overdueInterest != null" >
        #{overdueInterest,jdbcType=DECIMAL},
      </if>
      <if test="compensate != null" >
        #{compensate,jdbcType=DECIMAL},
      </if>
      <if test="feesTotal != null" >
        #{feesTotal,jdbcType=DECIMAL},
      </if>
      <if test="seviceFee != null" >
        #{seviceFee,jdbcType=DECIMAL},
      </if>
      <if test="advanceTotal != null" >
        #{advanceTotal,jdbcType=DECIMAL},
      </if>
      <if test="advanceCapital != null" >
        #{advanceCapital,jdbcType=DECIMAL},
      </if>
      <if test="advanceInterest != null" >
        #{advanceInterest,jdbcType=DECIMAL},
      </if>
      <if test="repaymentActualTime != null" >
        #{repaymentActualTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentedTime != null" >
        #{repaymentedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="capitalTime != null" >
        #{capitalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="interestTime != null" >
        #{interestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="paidTotal != null" >
        #{paidTotal,jdbcType=DECIMAL},
      </if>
      <if test="paidCapital != null" >
        #{paidCapital,jdbcType=DECIMAL},
      </if>
      <if test="paidInterest != null" >
        #{paidInterest,jdbcType=DECIMAL},
      </if>
      <if test="paidOverdue != null" >
        #{paidOverdue,jdbcType=DECIMAL},
      </if>
      <if test="paidCompensate != null" >
        #{paidCompensate,jdbcType=DECIMAL},
      </if>
      <if test="interestStart != null" >
        #{interestStart,jdbcType=VARCHAR},
      </if>
      <if test="interestEnd != null" >
        #{interestEnd,jdbcType=VARCHAR},
      </if>
      <if test="interestSpread != null" >
        #{interestSpread,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUser != null" >
        #{lastUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="field1 != null" >
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null" >
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null" >
        #{field3,jdbcType=VARCHAR},
      </if>
      <if test="field4 != null" >
        #{field4,jdbcType=VARCHAR},
      </if>
      <if test="field5 != null" >
        #{field5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" >
    update loan_pay_plan_company
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="transMainId != null" >
        trans_main_id = #{transMainId,jdbcType=VARCHAR},
      </if>
      <if test="repaymentMethod != null" >
        repayment_method = #{repaymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="repaymentTotal != null" >
        repayment_total = #{repaymentTotal,jdbcType=DECIMAL},
      </if>
      <if test="repaymentCapital != null" >
        repayment_capital = #{repaymentCapital,jdbcType=DECIMAL},
      </if>
      <if test="repaymentCapitalTime != null" >
        repayment_capital_time = #{repaymentCapitalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentInterest != null" >
        repayment_interest = #{repaymentInterest,jdbcType=DECIMAL},
      </if>
      <if test="repaymentInterestTime != null" >
        repayment_interest_time = #{repaymentInterestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overdueDays != null" >
        overdue_days = #{overdueDays,jdbcType=INTEGER},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=SMALLINT},
      </if>
      <if test="overdueInterestTotal != null" >
        overdue_interest_total = #{overdueInterestTotal,jdbcType=DECIMAL},
      </if>
      <if test="overdueCapital != null" >
        overdue_capital = #{overdueCapital,jdbcType=DECIMAL},
      </if>
      <if test="overdueInterest != null" >
        overdue_interest = #{overdueInterest,jdbcType=DECIMAL},
      </if>
      <if test="compensate != null" >
        compensate = #{compensate,jdbcType=DECIMAL},
      </if>
      <if test="feesTotal != null" >
        fees_total = #{feesTotal,jdbcType=DECIMAL},
      </if>
      <if test="seviceFee != null" >
        sevice_fee = #{seviceFee,jdbcType=DECIMAL},
      </if>
      <if test="advanceTotal != null" >
        advance_total = #{advanceTotal,jdbcType=DECIMAL},
      </if>
      <if test="advanceCapital != null" >
        advance_capital = #{advanceCapital,jdbcType=DECIMAL},
      </if>
      <if test="advanceInterest != null" >
        advance_interest = #{advanceInterest,jdbcType=DECIMAL},
      </if>
      <if test="repaymentActualTime != null" >
        repayment_actual_time = #{repaymentActualTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentedTime != null" >
        repaymented_time = #{repaymentedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="capitalTime != null" >
        capital_time = #{capitalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="interestTime != null" >
        interest_time = #{interestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transType != null" >
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="paidTotal != null" >
        paid_total = #{paidTotal,jdbcType=DECIMAL},
      </if>
      <if test="paidCapital != null" >
        paid_capital = #{paidCapital,jdbcType=DECIMAL},
      </if>
      <if test="paidInterest != null" >
        paid_interest = #{paidInterest,jdbcType=DECIMAL},
      </if>
      <if test="paidOverdue != null" >
        paid_overdue = #{paidOverdue,jdbcType=DECIMAL},
      </if>
      <if test="paidCompensate != null" >
        paid_compensate = #{paidCompensate,jdbcType=DECIMAL},
      </if>
      <if test="interestStart != null" >
        interest_start = #{interestStart,jdbcType=VARCHAR},
      </if>
      <if test="interestEnd != null" >
        interest_end = #{interestEnd,jdbcType=VARCHAR},
      </if>
      <if test="interestSpread != null" >
        interest_spread = #{interestSpread,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUser != null" >
        last_user = #{lastUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="field1 != null" >
        field1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null" >
        field2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null" >
        field3 = #{field3,jdbcType=VARCHAR},
      </if>
      <if test="field4 != null" >
        field4 = #{field4,jdbcType=VARCHAR},
      </if>
      <if test="field5 != null" >
        field5 = #{field5,jdbcType=VARCHAR},
      </if>
    </set>
    where 1=1 
      <if test="transMainId != null  and transMainId!=''" >
        and trans_main_id = #{transMainId}
      </if>
      <if test="id != null and id!=''" >
        and  id = #{id}
      </if>
      <if test="customerId != null  and customerId!=''" >
        and customer_id = #{customerId}
      </if>
      <if test="period != null  and period!=''" >
        and period = #{period}
      </if>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" >
    update loan_pay_plan_company
    set order_no = #{orderNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR},
      trans_main_id = #{transMainId,jdbcType=VARCHAR},
      repayment_method = #{repaymentMethod,jdbcType=VARCHAR},
      repayment_total = #{repaymentTotal,jdbcType=DECIMAL},
      repayment_capital = #{repaymentCapital,jdbcType=DECIMAL},
      repayment_capital_time = #{repaymentCapitalTime,jdbcType=TIMESTAMP},
      repayment_interest = #{repaymentInterest,jdbcType=DECIMAL},
      repayment_interest_time = #{repaymentInterestTime,jdbcType=TIMESTAMP},
      overdue_days = #{overdueDays,jdbcType=INTEGER},
      period = #{period,jdbcType=SMALLINT},
      overdue_interest_total = #{overdueInterestTotal,jdbcType=DECIMAL},
      overdue_capital = #{overdueCapital,jdbcType=DECIMAL},
      overdue_interest = #{overdueInterest,jdbcType=DECIMAL},
      compensate = #{compensate,jdbcType=DECIMAL},
      fees_total = #{feesTotal,jdbcType=DECIMAL},
      sevice_fee = #{seviceFee,jdbcType=DECIMAL},
      advance_total = #{advanceTotal,jdbcType=DECIMAL},
      advance_capital = #{advanceCapital,jdbcType=DECIMAL},
      advance_interest = #{advanceInterest,jdbcType=DECIMAL},
      repayment_actual_time = #{repaymentActualTime,jdbcType=TIMESTAMP},
      repaymented_time = #{repaymentedTime,jdbcType=TIMESTAMP},
      capital_time = #{capitalTime,jdbcType=TIMESTAMP},
      interest_time = #{interestTime,jdbcType=TIMESTAMP},
      trans_type = #{transType,jdbcType=VARCHAR},
      paid_total = #{paidTotal,jdbcType=DECIMAL},
      paid_capital = #{paidCapital,jdbcType=DECIMAL},
      paid_interest = #{paidInterest,jdbcType=DECIMAL},
      paid_overdue = #{paidOverdue,jdbcType=DECIMAL},
      paid_compensate = #{paidCompensate,jdbcType=DECIMAL},
      interest_start = #{interestStart,jdbcType=VARCHAR},
      interest_end = #{interestEnd,jdbcType=VARCHAR},
      interest_spread = #{interestSpread,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_user = #{lastUser,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      field1 = #{field1,jdbcType=VARCHAR},
      field2 = #{field2,jdbcType=VARCHAR},
      field3 = #{field3,jdbcType=VARCHAR},
      field4 = #{field4,jdbcType=VARCHAR},
      field5 = #{field5,jdbcType=VARCHAR}
    where id = #{id}
  </update>
  
   <sql id="Where_Clause" >
    <where >
      <if test="transMainId != null  and transMainId!=''" >
        and lppc.trans_main_id = #{transMainId}
      </if>
      <if test="period != null" >
        and lppc.period = #{period}
      </if>
      <if test="accountId != null  and accountId!=''" >
        and lppc.account_id = #{accountId}
      </if>
      <if test="customerId != null  and customerId!=''" >
        and lppc.customer_id = #{customerId}
      </if>
      <if test="cityName != null and ''!=cityName" >
        and ltm.city_name = #{cityName}
      </if>
      <if test="orderNo != null and ''!=orderNo" >
        and lppc.order_no = #{orderNo}
      </if>
      <if test="customerName != null and ''!=customerName" >
        and lppc.customer_name like concat(concat('%',#{customerName}),'%')
      </if> 
       <if test="borrower != null and ''!=borrower" >
        and ltm.borrower like concat(concat('%',#{borrower}),'%')
      </if>
      <if test="null!=beginTime and beginTime!=''">
		AND <![CDATA[date_format(lppc.repayment_capital_time,'%Y-%m-%d %H:%i:%S') >= #{beginTime}]]>
	  </if>
	  <if test="null!=endTime and endTime!=''">
		AND <![CDATA[date_format(lppc.repayment_capital_time,'%Y-%m-%d %H:%i:%S') <= #{endTime}]]>
	  </if>
	  <if test="null!=beginTimeTwo and beginTimeTwo!=''">
		AND <![CDATA[date_format(lppc.repayment_interest_time,'%Y-%m-%d %H:%i:%S') >= #{beginTimeTwo}]]>
	  </if>
	  <if test="null!=endTimeTwo and endTimeTwo!=''">
		AND <![CDATA[date_format(lppc.repayment_interest_time,'%Y-%m-%d %H:%i:%S') <= #{endTimeTwo}]]>
	</if>
  	<if test="unionId != null and unionId != ''">
  		and ltm.union_id = #{unionId}
  	</if>
  	<if test="status != null and status != ''">
	  		and lppc.status = #{status}
	 </if>
	 <if test="authgroupList != null">
	 	and 
	         <foreach item="item" index="index" collection="authgroupList" open="(" separator="or" close=")">
		         (1=1
		             <if test="item.orgId != null and item.orgId != ''">
					  		and ltm.company_id =  #{item.orgId}
					 </if>
					 <if test="item.deptId != null and item.deptId != ''">
					  		and ltm.field1 =  #{item.deptId}
					 </if>
					 <if test="item.dataOwner != null and item.dataOwner != ''">
					  		and ltm.field4 =  #{item.dataOwner}
					 </if>
				  )
	          </foreach>

		</if>

		<!-- 报表统计添加交易类型suncj  start-->
		  <if test="transType != null  and transType!=''" >
	        and ltm.trans_type = #{transType}
	      </if>
	      <if test="cityNo != null and '' != cityNo">
	  		and ltm.city_no = #{cityNo}
	  	  </if>
	  	   <if test="field3 != null and '' != field3"><!-- 客户性质 -->
	  		and lppc.field3 = #{field3}
	  	  </if>
	  	   <if test="docking != null and '' != docking"><!--对接银主 -->
	  		and lr.customer_nature in (${docking })
	  	  </if>
	  	 <!-- 报表统计添加交易类型suncj  end-->
    </where>
  </sql>
  <!-- 待付款列表 -->
  <select id="querypayplanCompany" parameterType="map" resultMap="BaseResultMap">
    select lppc.id, lppc.order_no, lppc.customer_id, lppc.account_id, lppc.trans_main_id, lppc.repayment_method, (lppc.repayment_total-lppc.paid_total) repayment_total, 
    (lppc.repayment_capital-lppc.paid_capital) repayment_capital,lppc.repayment_capital as repayment_capital_sed, lppc.repayment_capital_time, (lppc.repayment_interest-lppc.paid_interest) repayment_interest, lppc.repayment_interest_time, 
    lppc.overdue_days, lppc.period, lppc.overdue_interest, lppc.compensate, lppc.fees_total, lppc.sevice_fee,lppc.repayment_capital_time,lppc.repayment_capital,
    lppc.interest_start, lppc.interest_end, lppc.status, lppc.create_user, lppc.create_time, lppc.last_user, lppc.last_modify_time, 
    lppc.customer_name,ltm.product_type,ltm.product_name,ltm.provience_name,ltm.city_name,ltm.trans_type,ltm.period_total,ltm.invest_period,lppc.paid_capital,lppc.paid_interest
    from loan_pay_plan_company lppc
    inner join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
    <include refid="Where_Clause" />
	 <choose>
        <when test="executePayPortion !=null and executePayPortion != ''">
          order by lppc.period
        </when>
        <otherwise>
          order by lppc.repayment_interest_time,lppc.repayment_capital_time
        </otherwise>
    </choose>
	 <if test="page!=null and page.pageStartIndex != null and page.pageSize != null">
    	  Limit #{page.pageStartIndex},#{page.pageSize}
     </if>
  </select>
  <!-- 汇总应还总额、应还本金、应还利息，都减掉已还的-->
   <select id="queryTotalAmount" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" resultType="map">
  	select 
  	sum(lppc.repayment_total-lppc.paid_total) repaymentTotal,
  	sum(lppc.repayment_capital-lppc.paid_capital) repaymentCapital,
  	sum(lppc.repayment_interest-lppc.paid_interest) repaymentInterest
  	from loan_pay_plan_company lppc
  	inner join loan_trans_main ltm on lppc.trans_main_id = ltm.trans_main_id
  	<include refid="Where_Clause" />
 </select>
  <select id="querypayplanCompanyCount" parameterType="map" resultType="int">
    select 
    count(1)
    from loan_pay_plan_company lppc
    inner join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
    <include refid="Where_Clause" />
  </select>
  
   <!-- 垫付列表 -->
  <select id="querycapitalPrepaid" parameterType="map" resultMap="BaseResultMap">
    select lppc.id, lppc.order_no, lppc.customer_id, lppc.account_id, lppc.trans_main_id, lppc.repayment_method, lppc.repayment_total, 
    (lppc.repayment_capital-lppc.paid_capital) repayment_capital, lppc.repayment_capital_time, (lppc.repayment_interest-lppc.paid_interest) repayment_interest, lppc.repayment_interest_time, 
    lppc.overdue_days, lppc.period, lppc.overdue_interest, lppc.compensate, lppc.fees_total, lppc.sevice_fee, 
    lppc.interest_start, lppc.interest_end, lppc.status, lppc.create_user, lppc.create_time, lppc.last_user, lppc.last_modify_time, 
    lppc.customer_name,ltm.product_type,ltm.product_name,ltm.provience_name,ltm.city_name,ltm.trans_type,ltm.period_total,ltm.invest_period
    from loan_pay_plan_company lppc
    left join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
    <include refid="Where_Clause" />
	 order by lppc.repayment_interest_time,lppc.repayment_capital_time
	limit #{page.pageStartIndex},#{page.pageSize}
  </select>
  <!-- 垫付列表统计 -->
  <select id="querycapitalPrepaidCount" parameterType="map" resultType="int">
    select 
    count(1)
    from loan_pay_plan_company lppc
    left join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
    <include refid="Where_Clause" />
  </select>
  
  
  
  <!-- 导出 -->
  <select id="querypayplanCompanyExport" parameterType="map" resultMap="BaseResultMap">
    select 
    lppc.id, lppc.order_no, lppc.customer_id, lppc.account_id, lppc.trans_main_id, lppc.repayment_method, lppc.repayment_total, 
    (lppc.repayment_capital-lppc.paid_capital) repayment_capital, lppc.repayment_capital_time, (lppc.repayment_interest-lppc.paid_interest) repayment_interest, lppc.repayment_interest_time, 
    lppc.overdue_days, lppc.period, lppc.overdue_interest, lppc.compensate, lppc.fees_total, lppc.sevice_fee, lppc.trans_type, 
    lppc.interest_start, lppc.interest_end, lppc.status, lppc.create_user, lppc.create_time, lppc.last_user, lppc.last_modify_time, 
    lppc.customer_name,ltm.product_type,ltm.product_name,ltm.provience_name,ltm.city_name,
    CONCAT(lppc.period,'/',ltm.period_total) period_total_all,lppc.paid_capital,lppc.paid_interest
    from loan_pay_plan_company lppc
    inner join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
    <include refid="Where_Clause" />
	</select>
	
   <!-- 付款计划列表查询 -->
  <select id="queryPayMentList" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" resultMap="BaseResultMap">
    select lppc.id, lppc.order_no, lppc.customer_id, lppc.account_id, lppc.trans_main_id, lppc.repayment_method, lppc.repayment_total, 
    (lppc.repayment_capital-lppc.paid_capital) repayment_capital, lppc.repayment_capital_time, (lppc.repayment_interest-lppc.paid_interest) repayment_interest, lppc.repayment_interest_time, 
    lppc.overdue_days, lppc.period, lppc.overdue_interest, lppc.compensate, lppc.fees_total, lppc.sevice_fee, lppc.trans_type, 
    lppc.interest_start, lppc.interest_end, lppc.status, lppc.create_user, lppc.create_time, lppc.last_user, lppc.last_modify_time, 
    lppc.customer_name,ltm.product_type,ltm.product_name,ltm.provience_name,ltm.city_name,ltm.period_total,ltm.invest_period
    from loan_pay_plan_company lppc
    left join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
  	where 1=1
  	<if test="transMainId != null">
  		and lppc.trans_main_id = #{transMainId}
  	</if>
  	<if test="customerId != null">
  		and lppc.customer_id = #{customerId}
  	</if>
  	<if test="accountId != null">
  		and lppc.account_id = #{accountId}
  	</if>
  	<if test="id != null">
  		and lppc.id = #{id}
  	</if>
  	<if test="status != null and status != ''">
  		and lppc.status = #{status}
  	</if>
  	order by lppc.period
  </select>
	
  <!-- 汇总应付款总额 -->
  <select id="queryPayPlansum" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" resultMap="BaseResultMap">
    select sum(repayment_capital+repayment_interest) repayment_total,sum(repayment_capital) repayment_capital,sum(repayment_interest) repayment_interest
    from loan_pay_plan_company where 
    trans_main_id=#{transMainId} 
    and status in('03','90')
    <if test="period != null">
        and period=#{period} 
    </if>
    <if test="accountId != null">
  		and account_id = #{accountId}
  	</if>
  </select>

  <select id="queryCount" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" resultType="int">
    select 
    count(1)
    from loan_pay_plan_company lppc
    left join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
	<include refid="Where_Clause" />
  </select>
  <!-- 查询 -->
  <select id="queryAll" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loan_pay_plan_company
    where 1=1
    <if test="transMainId != null">
  		and trans_main_id = #{transMainId}
  	</if>
  	<if test="id != null">
  		and id = #{id}
  	</if>
  	<if test="period != null" >
        and period=#{period}
     </if>
     <if test="accountId != null" >
        and account_id=#{accountId}
     </if>
     <if test="customerId != null" >
        and customer_id=#{customerId}
     </if>
  	<if test="status != null and status != ''">
  		and status = #{status}
  	</if>
  </select>
  

 
   <!-- 报表统计查询-  suncj -->
  <select id="queryListPage" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany"  resultType="com.lhhs.loan.dao.domain.LoanPayPlanCompany">
    select DISTINCT lppc.id, lppc.order_no, lppc.customer_id, lppc.account_id, lppc.trans_main_id, lppc.repayment_method, lppc.repayment_total, 
    lppc.repayment_capital, lppc.repayment_capital_time,lppc.repayment_interest, lppc.repayment_interest_time,
    lppc.overdue_days, lppc.period,lppc.paid_total, lppc.overdue_interest, lppc.compensate, lppc.fees_total, lppc.sevice_fee, 
    lppc.interest_start, lppc.interest_end, lppc.status,lppc.interest_time,lppc.capital_time,lr.field1 organizationName,
    lppc.customer_name,ltm.product_type,ltm.product_name,ltm.provience_name,ltm.city_name,ltm.trans_type,ltm.period_total,ltm.invest_period,ltm.borrower,lr.loan_amount,
    ltm.lending_time,ltm.over_time,ltm.borrower_amount,ltm.term,ltm.term_unit,ltm.account_manager,ltm.department,ltm.rate,ltm.rate_unit,ld.type_name as typeName,lppc.field1,lppc.field2,lppc.field3,lppc.field4,lppc.field5
    from loan_pay_plan_company lppc
    left join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
    LEFT JOIN loan_record lr ON lppc.trans_main_id = lr.trans_main_id and lppc.account_id=lr.account_id
    LEFT JOIN loan_dictionary ld ON lppc.field3 = ld.type_id AND ld.category = 'invest_customer_nature' 
    <if test="isCompany != null and isCompany != '' ">
    LEFT JOIN loan_organization lo on lppc.customer_id=lo.customer_id and lo.is_company='N'
  	</if>
    <include refid="Where_Clause"/>
	order by ltm.lending_time, lppc.period
  	<if test="page != null">
  		limit #{page.pageStartIndex},#{page.pageSize}
  	</if>
  </select>
  <!-- 报表统计 固定理财总数查询suncj -->
  <select id="queryCountByReport" parameterType="com.lhhs.loan.dao.domain.LoanPayPlanCompany" resultType="int">
    select count(1)
    from loan_pay_plan_company lppc
    left join loan_trans_main ltm on ltm.trans_main_id=lppc.trans_main_id
    LEFT JOIN loan_record lr ON lppc.trans_main_id = lr.trans_main_id and lppc.account_id=lr.account_id
    left join loan_dictionary ld on lppc.field3=ld.type_id and ld.category='invest_customer_nature'
    <if test="isCompany != null and isCompany != '' ">
    left join loan_organization lo on lppc.customer_id=lo.customer_id and lo.is_company='N'
  	</if>
	<include refid="Where_Clause" />
    </select>
</mapper>