<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhhs.loan.dao.LoanCredentialsMapper" >
  <resultMap id="BaseResultMap" type="com.lhhs.loan.dao.domain.LoanCredentials" >
    <id column="credentials_id" property="credentialsId" jdbcType="VARCHAR" />
    <result column="credentials_name" property="credentialsName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="credentials_type" property="credentialsType" jdbcType="VARCHAR" />
    <result column="required" property="required" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="credentials_des" property="credentialsDes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    credentials_id, credentials_name,english_name, credentials_type, required, status, credentials_des
  </sql>
  
  <!-- 资质模板列表查询 -->
   <select id="queryCredentialsList" parameterType="com.lhhs.loan.dao.domain.LoanCredentials" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loan_credentials
    where 1=1
      <if test="credentialsName != null and credentialsName != ''" >
        and credentials_name = #{credentialsName}
      </if>
      <if test="englishName != null and englishName != ''" >
        and english_name = #{englishName}
      </if>
      <if test="credentialsType != null and credentialsType != ''" >
        and credentials_type = #{credentialsType}
      </if>
      <if test="required != null and required != ''" >
        and required = #{required}
      </if>
      <if test="status != null and status != ''" >
        and status = #{status}
      </if>
      <if test="credentialsDes != null and credentialsDes != ''" >
        and credentials_des = #{credentialsDes}
      </if>
    <if test="page != null">
  		limit #{page.pageStartIndex},#{page.pageSize}
  	</if>
  </select>
  <!-- 资质模板列表查询总数 -->
    <select id="queryCredentialsListCount" parameterType="com.lhhs.loan.dao.domain.LoanCredentials" resultType="java.lang.Integer">
    select  count(1)
    from loan_credentials
    where 1=1
          <if test="credentialsName != null and credentialsName != ''" >
        and credentials_name = #{credentialsName}
      </if>
      <if test="englishName != null and englishName != ''" >
        and english_name = #{englishName}
      </if>
      <if test="credentialsType != null and credentialsType != ''" >
        and credentials_type = #{credentialsType}
      </if>
      <if test="required != null and required != ''" >
        and required = #{required}
      </if>
      <if test="status != null and status != ''" >
        and status = #{status}
      </if>
      <if test="credentialsDes != null and credentialsDes != ''" >
        and credentials_des = #{credentialsDes}
      </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from loan_credentials
    where credentials_id = #{credentialsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from loan_credentials
    where credentials_id = #{credentialsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lhhs.loan.dao.domain.LoanCredentials" >
    insert into loan_credentials (credentials_id, credentials_name,english_name, credentials_type, 
      required, status, credentials_des
      )
    values (#{credentialsId,jdbcType=VARCHAR}, #{credentialsName,jdbcType=VARCHAR},#{englishName,jdbcType=VARCHAR}, #{credentialsType,jdbcType=VARCHAR}, 
      #{required,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{credentialsDes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhhs.loan.dao.domain.LoanCredentials" >
    insert into loan_credentials
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="credentialsId != null" >
        credentials_id,
      </if>
      <if test="credentialsName != null" >
        credentials_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="credentialsType != null" >
        credentials_type,
      </if>
      <if test="required != null" >
        required,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="credentialsDes != null" >
        credentials_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="credentialsId != null" >
        #{credentialsId,jdbcType=VARCHAR},
      </if>
      <if test="credentialsName != null" >
        #{credentialsName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="credentialsType != null" >
        #{credentialsType,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        #{required,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="credentialsDes != null" >
        #{credentialsDes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhhs.loan.dao.domain.LoanCredentials" >
    update loan_credentials
    <set >
      <if test="credentialsName != null" >
        credentials_name = #{credentialsName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="credentialsType != null" >
        credentials_type = #{credentialsType,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        required = #{required,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="credentialsDes != null" >
        credentials_des = #{credentialsDes,jdbcType=VARCHAR},
      </if>
    </set>
    where credentials_id = #{credentialsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhhs.loan.dao.domain.LoanCredentials" >
    update loan_credentials
    set credentials_name = #{credentialsName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      credentials_type = #{credentialsType,jdbcType=VARCHAR},
      required = #{required,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      credentials_des = #{credentialsDes,jdbcType=VARCHAR}
    where credentials_id = #{credentialsId,jdbcType=VARCHAR}
  </update>
</mapper>