<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhhs.loan.dao.LoanOrderCredentialsUrlMapper" >
  <resultMap id="BaseResultMap" type="com.lhhs.loan.dao.domain.LoanOrderCredentialsUrl" >
    <id column="url_id" property="urlId" jdbcType="BIGINT" />
    <result column="order_credentials_no" property="orderCredentialsNo" jdbcType="BIGINT" />
    <result column="path_url" property="pathUrl" jdbcType="VARCHAR" />
    <result column="file_extension" property="fileExtension" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="parse_json" property="parseJson" jdbcType="VARCHAR" />
    <result column="order_credentials_name" property="orderCredentialsName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    url_id, order_credentials_no, path_url, file_extension, update_time, parse_json
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from loan_order_credentials_url
    where url_id = #{urlId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from loan_order_credentials_url
    where url_id = #{urlId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhhs.loan.dao.domain.LoanOrderCredentialsUrl" >
    insert into loan_order_credentials_url (url_id, order_credentials_no, path_url, 
      file_extension, update_time, parse_json)
    values (#{urlId,jdbcType=BIGINT}, #{orderCredentialsNo,jdbcType=BIGINT}, #{pathUrl,jdbcType=VARCHAR}, 
      #{fileExtension,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{parseJson,jdbcType=VARCHAR})
  </insert>
  <!-- 此方法修改过，返回主键 -->
  <insert id="insertSelective" parameterType="com.lhhs.loan.dao.domain.LoanOrderCredentialsUrl" >
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="urlId">
		SELECT LAST_INSERT_ID() AS urlId
	</selectKey>
    insert into loan_order_credentials_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="urlId != null" >
        url_id,
      </if>
      <if test="orderCredentialsNo != null" >
        order_credentials_no,
      </if>
      <if test="pathUrl != null" >
        path_url,
      </if>
      <if test="fileExtension != null" >
        file_extension,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="null!=parseJson and ''!=parseJson" >
        parse_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="urlId != null" >
        #{urlId,jdbcType=BIGINT},
      </if>
      <if test="orderCredentialsNo != null" >
        #{orderCredentialsNo,jdbcType=BIGINT},
      </if>
      <if test="pathUrl != null" >
        #{pathUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileExtension != null" >
        #{fileExtension,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="null!=parseJson and ''!=parseJson" >
        #{parseJson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhhs.loan.dao.domain.LoanOrderCredentialsUrl" >
    update loan_order_credentials_url
    <set >
      <if test="orderCredentialsNo != null" >
        order_credentials_no = #{orderCredentialsNo,jdbcType=BIGINT},
      </if>
      <if test="pathUrl != null" >
        path_url = #{pathUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileExtension != null" >
        file_extension = #{fileExtension,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="null!=parseJson and ''!=parseJson" >
        parse_json = #{parseJson,jdbcType=VARCHAR},
      </if>
    </set>
    where url_id = #{urlId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhhs.loan.dao.domain.LoanOrderCredentialsUrl" >
    update loan_order_credentials_url
    set order_credentials_no = #{orderCredentialsNo,jdbcType=BIGINT},
      path_url = #{pathUrl,jdbcType=VARCHAR},
      file_extension = #{fileExtension,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      parse_json = #{parseJson,jdbcType=VARCHAR}
    where url_id = #{urlId,jdbcType=BIGINT}
  </update>
  
  <!-- 自定义方法区 -->
  <select id="findOrderCredentialsURLs" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from loan_order_credentials_url
    where order_credentials_no = #{orderCredentialsNo}
  </select>
  
  
  <select id="findAllOrderCredentialsURLs" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select locu.*,loc.order_credentials_name
    from loan_order_credentials loc 
    LEFT JOIN  loan_order_credentials_url locu on loc.order_credentials_no=locu.order_credentials_no
    where loc.order_no = #{orderNo} and locu.path_url is not null
  </select>
  
  
</mapper>