<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhhs.loan.dao.LoanProductCredentialsMapper" >
  <resultMap id="BaseResultMap" type="com.lhhs.loan.dao.domain.LoanProductCredentials" >
    <id column="pro_credentials_no" property="proCredentialsNo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="pro_credentials_name" property="proCredentialsName" jdbcType="VARCHAR" />
    <result column="pro_english_name" property="proEnglishName" jdbcType="VARCHAR" />
    <result column="pro_crendentials_type" property="proCrendentialsType" jdbcType="VARCHAR" />
    <result column="pro_required" property="proRequired" jdbcType="VARCHAR" />
    <result column="pro_status" property="proStatus" jdbcType="VARCHAR" />
    <result column="pro_credentials_des" property="proCredentialsDes" jdbcType="VARCHAR" />
    <result column="pro_time" property="proTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    pro_credentials_no, product_id, pro_credentials_name,pro_english_name, pro_crendentials_type, pro_required, 
    pro_status, pro_credentials_des, pro_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from loan_product_credentials
    where pro_credentials_no = #{proCredentialsNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from loan_product_credentials
    where pro_credentials_no = #{proCredentialsNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByProductId" parameterType="java.lang.String" >
    delete from loan_product_credentials
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lhhs.loan.dao.domain.LoanProductCredentials" >
    insert into loan_product_credentials (pro_credentials_no, product_id, pro_credentials_name, pro_english_name,
      pro_crendentials_type, pro_required, pro_status, 
      pro_credentials_des, pro_time)
    values (#{proCredentialsNo,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{proCredentialsName,jdbcType=VARCHAR}, #{proEnglishName,jdbcType=VARCHAR}, 
      #{proCrendentialsType,jdbcType=VARCHAR}, #{proRequired,jdbcType=VARCHAR}, #{proStatus,jdbcType=VARCHAR}, 
      #{proCredentialsDes,jdbcType=VARCHAR}, #{proTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lhhs.loan.dao.domain.LoanProductCredentials" >
    insert into loan_product_credentials
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proCredentialsNo != null" >
        pro_credentials_no,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="proCredentialsName != null" >
        pro_credentials_name,
      </if>
      <if test="proEnglishName != null" >
        pro_english_name,
      </if>
      <if test="proCrendentialsType != null" >
        pro_crendentials_type,
      </if>
      <if test="proRequired != null" >
        pro_required,
      </if>
      <if test="proStatus != null" >
        pro_status,
      </if>
      <if test="proCredentialsDes != null" >
        pro_credentials_des,
      </if>
      <if test="proTime != null" >
        pro_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proCredentialsNo != null" >
        #{proCredentialsNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="proCredentialsName != null" >
        #{proCredentialsName,jdbcType=VARCHAR},
      </if>
      <if test="proEnglishName != null" >
        #{proEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="proCrendentialsType != null" >
        #{proCrendentialsType,jdbcType=VARCHAR},
      </if>
      <if test="proRequired != null" >
        #{proRequired,jdbcType=VARCHAR},
      </if>
      <if test="proStatus != null" >
        #{proStatus,jdbcType=VARCHAR},
      </if>
      <if test="proCredentialsDes != null" >
        #{proCredentialsDes,jdbcType=VARCHAR},
      </if>
      <if test="proTime != null" >
        #{proTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhhs.loan.dao.domain.LoanProductCredentials" >
    update loan_product_credentials
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="proCredentialsName != null" >
        pro_credentials_name = #{proCredentialsName,jdbcType=VARCHAR},
      </if>
      <if test="proEnglishName != null" >
        pro_english_name = #{proEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="proCrendentialsType != null" >
        pro_crendentials_type = #{proCrendentialsType,jdbcType=VARCHAR},
      </if>
      <if test="proRequired != null" >
        pro_required = #{proRequired,jdbcType=VARCHAR},
      </if>
      <if test="proStatus != null" >
        pro_status = #{proStatus,jdbcType=VARCHAR},
      </if>
      <if test="proCredentialsDes != null" >
        pro_credentials_des = #{proCredentialsDes,jdbcType=VARCHAR},
      </if>
      <if test="proTime != null" >
        pro_time = #{proTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pro_credentials_no = #{proCredentialsNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhhs.loan.dao.domain.LoanProductCredentials" >
    update loan_product_credentials
    set product_id = #{productId,jdbcType=VARCHAR},
      pro_credentials_name = #{proCredentialsName,jdbcType=VARCHAR},
      pro_english_name = #{proEnglishName,jdbcType=VARCHAR},
      pro_crendentials_type = #{proCrendentialsType,jdbcType=VARCHAR},
      pro_required = #{proRequired,jdbcType=VARCHAR},
      pro_status = #{proStatus,jdbcType=VARCHAR},
      pro_credentials_des = #{proCredentialsDes,jdbcType=VARCHAR},
      pro_time = #{proTime,jdbcType=TIMESTAMP}
    where pro_credentials_no = #{proCredentialsNo,jdbcType=VARCHAR}
  </update>
  
   <select id="findProductCredentialsByProductId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from loan_product_credentials
    where 1=1
    <if test="childProductNo != null">
    	and product_id = #{childProductNo}
    </if>
  </select>
  
  <select id="proCredList" parameterType="map" resultMap="BaseResultMap">
   select <include refid="Base_Column_List" />
   from loan_product_credentials 
   where product_id=#{productId} and pro_crendentials_type=#{proCrendentialsType}
  </select>
  
  <delete id="deleteByproductId" parameterType="java.lang.String" >
    delete from loan_product_credentials
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
</mapper>