<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<link rel="stylesheet" href="/js/public/jqueryValidation/css/validationEngine.jquery.css" type="text/css"/>
<body>
<div class="father">
    <header th:replace="common/top"></header>
    <div class="common-content">
        <div th:replace="common/left"></div>
        <div class="common-right">
            <div class="place" id="place">
                <span>位置：</span>
                <ul class="placeul">
                    <li><a href="/index/index">首页</a></li>
                    <li>系统管理</li>
                    <li>权限设置</li>
                    <li><a th:href="@{/systemManager/getDepartments}">部门管理</a></li>
                    <li>新增</li>
                </ul>
            </div>
            <div class="right-content">
                <div class="formbody">
                    <div class="formtitle"><span>新增部门</span></div>
                    <div class="toolsli">
                        <ul class="nbbdgl-Ui">
                            <!--  li>
                                <span class="tips">部门编号：</span>
                                <input type="text" class="txt"/>
                            </li-->
                            <form id="myForm">
                            
                       <!--             <th:block th:if="${isAdmin} eq true">
                             <th:block if="${not #lists.isEmpty(companyList)}">
                             <li style="width: 80%;">
	                                <span class="tips">所属公司：</span>
	                                <div class="vocation">
	                                    <select class="select-common select1" name="ldCompany" id="ldCompany">
	                                        <option value="">请选择</option>
	                                        <option class="leGroupId" th:each="company : ${companyList}" th:value="${company.companyId}" 
	                                        th:text="${company.companyName}"></option>
	                                    </select>
	                                </div>
	                            </li>
                            
                            </th:block>
                             </th:block> -->
                             
                              <th:block th:if="${isAdmin} eq true">
                                 <li style="width: 80%;">
                                    <span class="tips">所属集团：</span>
                                    <div class="vocation">
                                    <select class="select-common select1 validate[required]" name="companyId" id="companyId">
                                        <option value="">请选择</option>
                                         <option th:each="g : ${cliqueList}" th:value="${g.companyId}" 
                                         th:text="${g.companyName}"></option>
                                    </select>
                                </div>
                                </li>
                                <li style="width: 80%;">
                                    <span class="tips">所属分公司：</span>
                                    <div class="vocation">
                                    <select class="select-common select1 company validate[required]" name="branchCompanyId" id="company">
                                    <option value="">请选择</option>
                                    </select>
                                </div>
                                </li>
                                 </th:block>
                                  <li style="width: 80%;">
                                  <span class="tips">上级部门：</span>
                                 <div class="vocation">
                                     <select class="select-common select3" name="parentId" id="parentId">
                                         <option value="" >请选择</option>
                                         <option th:each="search : ${searchList}" th:value="${search.deptId}" th:utext="${search.name}"></option>
                                     </select>
                                 </div>
                                </li>
                            <li>
                                <span class="tips">部门名称：</span>
                                <input type="text" class="txt ldName validate[required,maxSize[10]]" maxlength="10"/>
                            </li>
                            
                            
                            <li style="width: 80%;">
                                <span class="tips">描述：</span>
                                <textarea class="area ldDepict validate[maxSize[128]]" maxlength="128"></textarea>
                            </li>
                            <li style="width: 80%;">
                                <span class="tips">备注：</span>
                                <textarea class="area ldRemark validate[maxSize[128]]" maxlength="128"></textarea>
                            </li>
                            <li style="width: 80%;">
                                <span class="tips">&nbsp;</span>
                                <input type="button" class="scbtn mlt10 newdeptkeep" value="保 存"/>
                                <input type="button" class="scbtn2 mlt10" value="返 回" onclick="javascript:history.back(-1);"/>
                            </li>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="common/footer"></footer>
</div>
 <script src="/js/public/jqueryValidation/js/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8"></script>  
 <script src="/js/public/jqueryValidation/js/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>
 <script> seajs.use("login/department");</script>
</body>
</html>