<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<link rel="stylesheet" href="/js/public/jqueryValidation/css/validationEngine.jquery.css" type="text/css"/>
<body>
    <div class="father">
        <header th:replace="common/top"></header>
        <div class="common-content">
            <div th:replace="common/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
                        <li>系统管理</li>
                        <li>修改密码</li>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                        <div class="formtitle"><span>修改密码</span></div>
                        <div class="toolsli">
                            <ul class="nbbdgl-Ui">
                                <form id="myForm">
                                <li style="width: 80%;">
                                    <span class="tips">原始密码：</span>
                                    <input type="password" class="txt oldPassword validate[required,minSize[4],maxSize[16]]"/>
                                </li>
                                <li style="width: 80%;">
                                    <span class="tips">新密码：</span>
                                    <input type="password" class="txt newPassword validate[required,minSize[4],maxSize[16]]"/>
                                </li>
                                <li style="width: 80%;">
                                    <span class="tips">确认新密码：</span>
                                    <input type="password" class="txt newPasswordTwo validate[required,minSize[4],maxSize[16]]"/>
                                </li>
                                </form>
                                <li style="width: 80%;">
                                    <span class="tips">&nbsp;</span>
                                    <input type="button" class="scbtn mlt10 updatePassword" value="确 认"/>
                                    <input type="button" class="scbtn2 mlt10" value="取 消" onclick="javascript:history.back(-1);"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="common/footer"></footer>
    </div>
     <script src="/js/public/jqueryValidation/js/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8"></script>  
	 <script src="/js/public/jqueryValidation/js/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>
     <script src="/js/public/decode.js" type="text/javascript"></script>
     <script> seajs.use("login/group");</script>
</body>
</html>