<div class="siderbar" id="siderbar">
    <div id="barbg">
        <div class="lefttop"><span></span>菜 单</div>
        <dl class="leftmenu">
			<dd>
				<div class="title">
				<span class="lefticon lefticon02"></span>
				模型管理
				</div>
				<ul class="menuson" style="display: block;">
				<li><cite></cite><a href="/workflow/url/actmodel/list">模型管理</a><i></i></li>
				<li><cite></cite><a href="/workflow/url/actmodel/create">新建模型</a><i></i></li>
				</ul>
			</dd>
			<dd>
				<div class="title">
				<span class="lefticon lefticon02"></span>
				流程管理
				</div>
				<ul class="menuson" style="display: block;">
				<li><cite></cite><a href="/workflow/url/actprocess/list">流程管理</a><i></i></li>
				<li><cite></cite><a href="/workflow/url/actprocess/deploy">部署流程</a><i></i></li>
				<li><cite></cite><a href="/workflow/url/actprocess/export/diagrams">导出流程</a><i></i></li>
				<li><cite></cite><a href="/workflow/url/actprocess/running">运行中的流程</a><i></i></li>
				</ul>
			</dd>
			<dd>
				<div class="title">
				<span class="lefticon lefticon02"></span>
				我的任务
				</div>
				<ul class="menuson" style="display: block;">
				<li><cite></cite><a href="/workflow/url/acttask/todo">待办任务</a><i></i></li>
				<li><cite></cite><a href="/workflow/url/acttask/historic">已办任务</a><i></i></li>
				<li><cite></cite><a href="/workflow/url/acttask/process">新建任务</a><i></i></li>
				</ul>
			</dd>
			<dd>
				<div class="title">
				<span class="lefticon lefticon02"></span>
				流程测试
				</div>
				<ul class="menuson" style="display: block;">
				<li><cite></cite><a href="/workflow/url/acttask/list">审批列表</a><i></i></li>
				<li><cite></cite><a href="workflow/json/testAudit/form">审批申请流程</a><i></i></li>
				</ul>
			</dd>
        </dl>
    </div>
</div>

<script type="text/javascript" src="/js/public/siderbar.js"></script>