<div class="previewBack"></div>
<div class="preview">
<div class="formbody">
	<div class="table-title">
		<p class="tab-font">部分还本</p>
	</div>
	<table class="tablelist">
		<thead>
			<tr>
				<th>选择</th>
				<th>当期还本日</th>
				<th>应还本金</th>
				<th>当期还息日</th>
				<th>应还利息</th>
				<th>应还总金额</th>
				<th>已还本金</th>
				<th>已还利息</th>
			</tr>
		</thead>
		<tbody th:if="${not #lists.isEmpty(result.payPlanList)}">
			<tr th:each="payPlan : ${result.payPlanList}">
				<td><input type="checkbox" checked="checked" disabled="disabled"/></td>
				<td th:text="${payPlan.repaymentCapitalTime}?${#dates.format(payPlan.repaymentCapitalTime,'yyyy/MM/dd HH:mm:ss')}"></td>
				<td th:text="${payPlan.repaymentCapital}?${#numbers.formatDecimal(payPlan.repaymentCapital-payPlan.paidCapital,1,2)}"></td>
				<td th:text="${payPlan.repaymentInterestTime}?${#dates.format(payPlan.repaymentInterestTime,'yyyy/MM/dd HH:mm:ss')}"></td>
				<td th:text="${payPlan.repaymentInterest}?${#numbers.formatDecimal(payPlan.repaymentInterest-payPlan.paidInterest,1,2)}"></td>
				<td th:text="${payPlan.repaymentTotal}?${#numbers.formatDecimal(payPlan.repaymentTotal-payPlan.paidCapital-payPlan.paidInterest,1,2)}"></td>
				<td th:text="${payPlan.paidCapital}?${#numbers.formatDecimal(payPlan.paidCapital,1,2)}"></td>
				<td th:text="${payPlan.paidInterest}?${#numbers.formatDecimal(payPlan.paidInterest,1,2)}"></td>
			</tr>
		</tbody>
	</table>
	<th:block th:if="${result.transMain}">
		<div class="toolsli pt10">
		<form id="payCapitalTempForm">
			<input type="hidden" name="payFlag" value="2"/>
			<input type="hidden" name="transMainId" th:value="${result.transMain.transMainId}"/>
			<ul class="nbbdgl-Ui">
				<li style="width: 80%;">
					<span class="tips">剩余本金：</span> 
					<span th:text="${#numbers.formatDecimal(result.prePay.repaymentCapital,1,4)}"></span> 
				</li>
				<li style="width: 80%;">
					<span class="tips">还款时间：</span>
					<input type="hidden" th:value="${#dates.format(result.prePay.interestStart,'yyyy-MM-dd HH:mm:ss')}" id="minDay"/>
					<input type="hidden" th:value="${#dates.format(result.prePay.interestEnd,'yyyy-MM-dd HH:mm:ss')}" id="maxDay"/>
					<input type="text" name="actualTransTime" class="txt validate[required]" th:value="${#dates.format(result.prePay.actualTransTime,'yyyy-MM-dd HH:mm:ss')}" onclick="WdatePicker({onpicked:changeFun,autoPickDate:'true',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'minDay\')}',maxDate:'#F{$dp.$D(\'maxDay\')}'})"/>
					<span id="warningId" style="margin-left:5px;color:red;">
						<th:block th:if="${result.prePay.overdueDays > 0}">
							* 当前还款时间产生了逾期，无法提前部分还本
						</th:block>
					</span>
				</li>
				<li style="width: 80%;">
					<span class="tips">还款本金：</span> 
					<input type="hidden" id="lastCapitalId" th:value="${#numbers.formatDecimal(result.prePay.repaymentCapital,1,4)}"/>
					<input type="text" class="txt validate[required,custom[numberFour],min[0]]" name="paidCapital" th:value="${#numbers.formatDecimal(result.prePay.paidCapital,1,4)}"/>
				</li>
				<li style="width: 80%;">
	                <span  class="tips">备注：</span>
	                <textarea class="area" id="transRemarkId" name="transRemark" maxLength="200" placeholder="最多输入200个字符" th:utext="${result.prePay.transRemark}?${result.prePay.transRemark}"></textarea>
	            </li>
			</ul>
		</form>
		</div>
		<script th:inline="javascript">
			//绑定验证
	    	$('#previewId #payCapitalTempForm').validationEngine('attach');
		</script>
	</th:block>
	<p class="textCt pb20">
		<input type="button" class="scbtn" value="确定还款" id="payCapitalBtn" style="width: 70px;"/>
		<input type="button" class="scbtn2 mlt10" value="取 消" id="goBackId"/>
	</p>
</div>
</div>