<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<body>
    <div class="father">
        <header th:replace="common/top"></header>
        <div class="common-content">
            <div th:replace="common/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
	                    <th:block th:if="${isAgreement} ne 1">
							<li>业务管理</li>
                       		<li>贷前管理</li>
                    		<li>上传资质</li>
						</th:block>
	                    <th:block th:if="${isAgreement} eq 1">
							<li>合同管理</li>
							<th:block th:switch="${isAuditing}">
								<th:block th:case="0">
									<li><a href="/agreement/list/0">待审核合同</a></li>
									<li><a href="javascript:history.go(-1);">上传</a></li>
								</th:block>
								<th:block th:case="1">
									<li><a href="/agreement/list/1">所有合同</a></li>
									<li><a href="javascript:history.go(-1);">下载</a></li>
								</th:block>
									<li>上传资质</li>
							</th:block>
						</th:block>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                    	<div class="formtitle"><span>资质信息</span></div>
	                    <h5>【<th:block th:text="${credentials}?${credentials.orderCredentialsName}"></th:block>】</h5>
	                    <ul class="imglist">
	                        <li th:each="url : ${urlLists}">
	                            <span>
	                                <a class="removeFile" th:attr="data-id=${url.urlId}"></a>
	                                <th:block th:switch="${url.fileExtension}">
	                                	<th:block th:case=".xls">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img  th:src="@{/img/excel.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".xlsx">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/excel.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".xlsm">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/excel.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".doc">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/word.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".docx">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/word.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".docm">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/word.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case=".pdf">
	                                		<a th:href="@{${url.pathUrl}}">
	                                			<img th:src="@{/img/pdf.png}"/>
	                                		</a>
	                                	</th:block>
	                                	<th:block th:case="*">
	                                		<img th:src="@{${url.pathUrl}}"/>
	                                	</th:block>
		                            </th:block>
	                            </span>
	                        </li>
	                    </ul>
	                    <p style="margin-left: 29px; margin-top: 20px; position:relative;">
	                    	<input type="button" class="scbtn1" value="上传文件"/>
                            <input type="file" id="uploadImgs" multiple="multiple" class="uploadImgs" name="file"/>
	                        <input type="button" class="scbtn2 mlt10" value="返 回" id="goBack"/>
	                    </p>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="common/footer"></footer>
    </div>
    <script th:inline="javascript">
    	/*<![CDATA[*/
	    	var orderCredentialsNo = '[[${credentials}?${credentials.orderCredentialsNo}]]';
	    	var orderNo = [[${credentials}?${credentials.orderNo}]];
	    	var isAgreement = [[${isAgreement}]];
	    	var orderCredentialsEnglishName = [[${credentials}?${credentials.orderCredentialsEnglishName}]]||"";
	    	seajs.use("auditing/orderCredentials");
    	/*]]>*/
    </script>
</body>
</html>