<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="common/src"></head>

	<body>
		<div class="father">
			<header th:replace="common/top"></header>
			<div class="common-content">
				<div th:replace="common/left"></div>
				<div class="common-right">
					<div class="place" id="place">
						<span>位置：</span>
						<ul class="placeul">
							<li>
								<a href="/index/index">首页</a>
							</li>
							<li>合同管理</li>
							<li th:switch="${isAuditing}">
								<th:block th:case="0"><a href="/agreement/list/0">待审核合同</a></th:block>
								<th:block th:case="1"><a href="/agreement/list/1">所有合同</a></th:block>
							</li>
							<li th:switch="${isAuditing}">
								<th:block th:case="0"><a>上传</a></th:block>
								<th:block th:case="1"><a>下载</a></th:block>
							</li>
						</ul>
					</div>
					<div class="right-content">
						<div class="formbody">
							<div id="tab2">
								<input type="hidden" class="txt" th:value="${bname}" name="bname"/>
							</div>
							<div class="toolsli" id="tab4"></div>
							<input type="hidden" class="txt" th:value="${fundSide}" id="fundSide"/>
							<input type="hidden" class="txt" th:value="${productId}" id="productName"/>
							<p class="textCt pb20">
								<input type="button" class="scbtn2" value="返 回" onclick="javascript:history.go(-1);" />
							</p>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="common/footer"></footer>
		</div>
		<script th:inline="javascript">
    	/*<![CDATA[*/
    		var orderNo = [[${orderNo}]];
    		var fundSide = [[${fundSide}]];
    		var productId = [[${productId}]];
    		var isAgreement = [[${isAgreement}]];
    		var isAuditing = [[${isAuditing}]];
	    	seajs.use("agreement/credentials");
    	/*]]>*/
    </script>
	</body>

</html>