<table class="tablelist">
         <thead>
             <tr>
                  <th>序号</th>
                  <th>交易ID</th>
                  <th>省市</th>
                  <th>出借人姓名</th>
                  <th>客户性质</th>
                  <th>理财金额(元)</th>
                  <th>理财利率</th>
                  <th>当前期数</th>
                  <th>放款时间</th>
                  <th>合同截止时间</th>
                  <th>应收总额</th>
                  <th>应收利息</th>
                  <th>应收息时间</th>
                  <th>实际收息时间</th>
                  <th>应收本金</th>
                  <th>应收本时间</th>
                  <th>实际收本时间</th>
                  <th>部门</th>
                  <th>客户经理</th>
             </tr>
         </thead>
         <tbody>
             <tr:block th:unless="${#lists.isEmpty(page.resultList)}" >
             <tr th:each="emp , iter : ${page.resultList}">
                 <td th:text="${iter.index+1}"></td>
                 <td th:text="${emp.orderNo}"></td>
                 <td th:text="${emp.cityName}"></td>
                 <td th:text="${emp.customerName}"></td>
                 <td th:text="${emp.typeName}"></td>
                 <td th:text="${#numbers.formatDecimal(emp.borrowerAmount,1,2)}"></td>
                 <!-- <td th:text="${emp.field2}"></td> -->
                 <td th:text="${#numbers.formatDecimal(emp.rate,1,3)}+'%/'+${emp.rateUnit}"></td>
                 <td th:text="${emp.period}+'/'+${emp.periodTotal}"></td><!-- +${emp.termUnit} -->
                 <td th:text="${emp.lendingTime}?${#dates.format(emp.lendingTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                 <td th:text="${emp.overTime}?${#dates.format(emp.overTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                 <td th:text="${#numbers.formatDecimal(emp.repaymentTotal,1,2)}"></td>
                 <td th:text="${#numbers.formatDecimal(emp.repaymentInterest,1,2)}"></td>
                 <td th:text="${emp.repaymentInterestTime}?${#dates.format(emp.repaymentInterestTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                 <td th:text="${emp.interestTime}?${#dates.format(emp.interestTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                 <td th:text="${#numbers.formatDecimal(emp.repaymentCapital,1,2)}"></td>
                 <td th:text="${emp.repaymentCapitalTime}?${#dates.format(emp.repaymentCapitalTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                 <td th:text="${emp.capitalTime}?${#dates.format(emp.capitalTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                 <td th:text="${emp.department}"></td>
                 <td th:text="${emp.accountManager}"></td>
             </tr>
             </tr:block>
        <th:block th:if="${#lists.isEmpty(page.resultList)}">
	    	<tr>
			  <td colspan="19" class="textCt">暂无数据</td>
		     </tr>
	    </th:block>
    </tbody>
</table>  


<div class="pagin" style="margin-top: 0px;" th:unless="${#lists.isEmpty(page.resultList)}">
	<div class="message">
		统计数据(<b th:text="${page.totalCount}"></b>条);&nbsp;&nbsp;&nbsp;
		理财总额：<b th:text="${total}?${#numbers.formatDecimal(total,1,2)}:0.00"></b>元&nbsp;&nbsp;&nbsp;
		<!-- 理财总额：<b th:text="${#maps.isEmpty(map)}?0.00:(${#maps.containsKey(map, 'borrowerAmount')}?${#numbers.formatDecimal(map.borrowerAmount,1,2)}:0.00)"></b>元&nbsp;&nbsp;&nbsp; -->
	 </div>
</div>

<div class="pagin" style="margin-top: 0px;" th:unless="${#lists.isEmpty(page.resultList)}">
	<div class="message">
		<input type="button" value="导出" class="scbtn1" style="width: 65px;" id="export"/>&nbsp;&nbsp;&nbsp;
		共 <i class="blue" th:text="${page.totalCount}"></i> 
		条记录，当前显示第 <i class="blue" th:text="${page.pageIndex}"></i> 页
	</div>
	<ul class="paginList">
		<li class="paginItem" th:if="${page.pageIndex} gt 1">
			<a th:attr="data-pagenum=(${page.pageIndex}-1),data-pagesize=${page.pageSize}" class="pagepre"></a>
		</li>
		<li class="paginItem" th:each="x:${#numbers.sequence(page.startNum, page.endNum)}" 
		th:classappend="(${page.pageIndex} eq ${x})?'current'">
			<a th:attr="data-pagenum=${x},data-pagesize=(${page.pageSize})" th:text="${x}"></a>
		</li>
		<li class="paginItem" th:if="${page.pageIndex} lt ${page.pageCount}">
			<a th:attr="data-pagenum=(${page.pageIndex}+1),data-pagesize=(${page.pageSize})" class="pagenxt"></a>
		</li> 
	</ul>
</div>
