<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<body>
    <div class="father">
        <header th:replace="common/top"></header>
        <div class="common-content">
             <div th:replace="common/left"></div>
            <div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
                        <li>资金管理</li>
                        <li>转账管理</li>
                        <li>固定理财转账记录详情</li>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                        <div class="formtitle"><span>1、客户账户信息</span></div>
                        <div class="toolsli">
                            <strong style="padding-bottom:15px; display:inline-block;">转出账户信息：</strong>
                            <ul class="nbbdgl-Ui clearfix">
                                <li>
                                    <span class="tips">客户类型：</span>
                                    <span th:text="${transAccountInfo.outTypeName}"></span>
                                </li>
                                <li>
                                    <span class="tips">客户性质：</span>
                                    <span th:text="${transAccountInfo.outPropertyName}"></span>
                                </li>
                                <li>
                                    <span class="tips">用户ID：</span>
                                    <span th:text="${transAccountInfo.outAccountCustId}"></span>
                                </li>
                                <li>
                                    <span class="tips">手机号：</span>
                                    <span th:text="${transAccountInfo.outAccountMobile}"></span>
                                </li>
                                <li>
                                    <span class="tips">姓名：</span>
                                    <span th:text="${transAccountInfo.outAccountRealName}"></span>
                                </li>
                                <li>
                                    <span class="tips">持卡人：</span>
                                    <span th:text="${transAccountInfo.outAccountCardholder}"></span>
                                </li>
                                <li>
                                    <span class="tips">银行卡号：</span>
                                    <span th:text="${transAccountInfo.outAccountBankCard}"></span>
                                </li>
                                <li>
                                    <span class="tips">账户余额（转账前）：</span>
                                    <span th:text="${#numbers.formatDecimal(transAccountInfo.outAccountPreBalance,1,2)}"></span>
                                </li>
                                <li>
                                    <span class="tips">账户余额（转账后）：</span>
                                    <span th:text="${#numbers.formatDecimal(transAccountInfo.outAccountSufBalance,1,2)}"></span>
                                </li>
                            </ul>
                            <div class="lines"></div>
                            <strong style="padding-bottom:15px; display:inline-block;">收款账户信息：</strong>
                            <ul class="nbbdgl-Ui clearfix">
                                <li>
                                    <span class="tips">客户类型：</span>
                                    <span th:text="${transAccountInfo.inTypeName}"></span>
                                </li>
                                <li>
                                    <span class="tips">客户性质：</span>
                                    <span th:text="${transAccountInfo.inPropertyName}"></span>
                                </li>
                                <li>
                                    <span class="tips">用户ID：</span>
                                    <span th:text="${transAccountInfo.inAccountCustId}"></span>
                                </li>
                                <li>
                                    <span class="tips">手机号：</span>
                                    <span th:text="${transAccountInfo.inAccountMobile}"></span>
                                </li>
                                <li>
                                    <span class="tips">姓名：</span>
                                    <span th:text="${transAccountInfo.inAccountRealName}"></span>
                                </li>
                                <li>
                                    <span class="tips">持卡人：</span>
                                    <span th:text="${transAccountInfo.inAccountCardholder}"></span>
                                </li>
                                <li>
                                    <span class="tips">银行卡号：</span>
                                    <span th:text="${transAccountInfo.inAccountBankCard}"></span>
                                </li>
                                <li>
                                    <span class="tips">账户余额（转账前）：</span>
                                    <span th:text="${#numbers.formatDecimal(transAccountInfo.inAccountPreBalance,1,2)}"></span>
                                </li>
                                <li>
                                    <span class="tips">账户余额（转账后）：</span>
                                    <span th:text="${#numbers.formatDecimal(transAccountInfo.inAccountSufBalance,1,2)}"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="formtitle"><span>2、理财信息</span></div>
                        <div class="toolsli">
                            <ul class="nbbdgl-Ui clearfix">
                                <li>
                                    <span class="tips">理财金额：</span>
                                    <span th:text="${#numbers.formatDecimal(transAccountInfo.financialAmount,1,2)}"></span>
                                </li>
                                <li>
                                    <span class="tips">理财期限：</span>
                                    <span th:text="${transAccountInfo.financialTerm}+' 个月'"></span>
                                </li>
                                <li>
                                    <span class="tips">利率：</span>
                                    <span th:text="${transAccountInfo.financialInterestRate}?${#numbers.formatDecimal(transAccountInfo.financialInterestRate,1,3)}:0.00+'%/'+${transAccountInfo.financialInterestRateUnit}"></span>
                                    <span th:text="'%/'+${transAccountInfo.financialInterestRateUnit}"></span>
                                </li>
                                <li>
                                    <span class="tips">还款方式：</span>
                                   <span th:if="${transAccountInfo.repaymentMethod} eq 0">每月还息，到期还本</span>
                                    <span th:if="${transAccountInfo.repaymentMethod} eq 2">一次性支付</span>
                                </li>
                                <li>
                                    <span class="tips">付息方式：</span>
                                    <span th:if="${transAccountInfo.interestPaymentMethod} eq 0">放款日付息</span>
                                     <span th:if="${transAccountInfo.interestPaymentMethod} eq 1">到期日结息</span>
                                     <span th:if="${transAccountInfo.interestPaymentMethod} eq 2">指定日付息</span>
                                </li>
                                <li>
                                    <span class="tips" th:if="${transAccountInfo.interestPaymentMethod} eq 2">指定日付息时间：</span>
                                    <span th:if="${transAccountInfo.interestPaymentMethod} eq 2"><span th:text="${transAccountInfo.appointLendingTime}?${#dates.format(transAccountInfo.appointLendingTime, 'yyyy-MM-dd HH:mm:ss')}"></span></span>
                                </li>
                                <li>
                                    <span class="tips">还款违约金率：</span>
                                     <span th:text="${transAccountInfo.repaymentPenaltyInterestRate}?${#numbers.formatDecimal(transAccountInfo.repaymentPenaltyInterestRate,1,3)}:0.00"></span>
                                	  <span>%/天</span>
                                </li>
                                <li>
                                    <span class="tips">逾期罚息率：</span>
                                     <span th:text="${transAccountInfo.overduePenaltyInterestRate}?${#numbers.formatDecimal(transAccountInfo.overduePenaltyInterestRate,1,3)}:0.00"></span>
                                     <span>%/天</span>
                                </li>
                                <li>
                                    <span class="tips">实际放款时间：</span>
                                    <span th:text="${transAccountInfo.actualLendingTime}?${#dates.format(transAccountInfo.actualLendingTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                </li>
                            </ul>
                        </div>
                          <div class="table-title">
                            <p class="tab-font">待付款列表</p>
                        </div>
                        <table class="tablelist">
                            <thead>
                            <tr>
                               <!--  <th>付款ID</th> -->
                                        <th>出借人姓名</th>
                                        <th>客户性质</th>
                                        <th>理财金额</th>
                                        <th>理财利率</th>
                                        <th>当期/总期数</th>
                                        <th>放款时间</th>
                                        <th>合同截止日期</th>
                                        <th>应收总额</th>
                                        <th>应收利息</th>
                                        <th>应收利息时间</th>
                                        <th>应收本金</th>
                                        <th>应收本金时间</th>
                                        <th>部门</th>
                                        <th>客户经理</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr:block th:unless="${#lists.isEmpty(payPlanlist)}" >
                                    <tr th:each="emp , iter : ${payPlanlist}">
                                       <!--  <td th:text="${emp.id}"></td> -->
                                        <td th:text="${transAccountInfo.outAccountRealName}"></td>
                                        <td th:text="${transAccountInfo.outPropertyName}"></td>
                                        <td th:text="${#numbers.formatDecimal(transAccountInfo.financialAmount,1,2)}"></td>
                                        <td th:text="${#numbers.formatDecimal(transAccountInfo.financialInterestRate,1,3)} +'%/'+${transAccountInfo.financialInterestRateUnit}"></td>
                                        <td th:text="${emp.period}+'/'+${payPlanlist.size()}"></td>
                                       <td th:text="${transAccountInfo.actualLendingTime}?${#dates.format(transAccountInfo.actualLendingTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td>
				                            <th:block th:if="${iter.index+1} eq ${payPlanlist.size()}"><span th:text="${transAccountInfo.contractEndTime}?${#dates.format(transAccountInfo.contractEndTime, 'yyyy-MM-dd HH:mm:ss')}"></span></th:block>
			                            </td>
                                        <td th:text="${#numbers.formatDecimal(emp.repaymentTotal,1,2)}"></td>
                                        <td th:text="${#numbers.formatDecimal(emp.repaymentInterest,1,2)}"></td>
                                        <td th:text="${emp.repaymentInterestTime}?${#dates.format(emp.repaymentInterestTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td th:text="${#numbers.formatDecimal(emp.repaymentCapital,1,2)}"></td>
                                        <td th:text="${emp.repaymentCapitalTime}?${#dates.format(emp.repaymentCapitalTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td th:text="${transAccountInfo.accountManagerDepartmentName}"></td>
                                        <td th:text="${transAccountInfo.accountManagerName}"></td>
                                    </tr>
                                    </tr:block>
                            </tbody>
                        </table>
                        <div class="formtitle pt20"><span>审核意见</span></div>
                        <div class="toolsli">
                            <ul class="nbbdgl-Ui clearfix">
                                <li>
                                    <span class="tips">审核人：</span>
                                    <span th:text="${transAccountInfo.assigneeName}"></span>
                                </li>
                                <li>
                                    <span class="tips">审核结果：</span>
                                    <span th:if="${transAccountInfo.pass} eq 90">成功</span>
                                    <span th:if="${transAccountInfo.pass} eq 91">失败</span>
                                </li>
                                <li>
                                    <span class="tips">审核时间：</span>
                                    <span th:text="${transAccountInfo.taskEndDate}?${#dates.format(transAccountInfo.taskEndDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                </li>
                                <li style="width:80%;">
                                    <span class="tips">备注：</span>
                                    <span th:text="${transAccountInfo.msg}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="common/footer"></footer>
    </div>
</body>
</html>