<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<script type="text/javascript" src="/js/public/area.js"></script>
<script type="text/javascript" src="/js/public/My97DatePicker/WdatePicker.js"></script>
<body>
	<div class="father">
		<header th:replace="common/top"></header>
		<div class="common-content">
			<div th:replace="common/left"></div>
			<div class="common-right">
                <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/index/index">首页</a></li>
                        <li>财务管理</li>
                        <li>还款管理</li>
                        <th:block th:if="${type} == '90'">
                        	<li>已还清记录</li>
                        </th:block>
                        <th:block th:if="${type} == '88'">
                        	<li>提前还款记录</li>
                        </th:block>
                    </ul>
                </div>
                <div class="right-content">
                    <div class="formbody">
                        <div id="usual1" class="usual">
                        	<form id="myForm">
	                            <ul class="seachform1">
	                                <li>
	                                    <label>省市：</label>
	                                    <div class="vocation">
	                                        <select class="select-common select3 provinceSelect"></select>
	                                    </div>
	                                    <span>省</span>
	                                    <div class="vocation">
	                                        <select class="select-common select3 citySelect" name="cityNo"></select>
	                                    </div>
	                                    <span>市</span>
	                                </li>
	                                <li>
	                                    <label>报单编号：</label>
	                                    <input type="text" class="scinput1" name="businessId"/>
	                                </li>
	                                <li>
	                                    <label>借款人姓名：</label>
	                                    <input type="text" class="scinput1" name="borrower"/>
	                                </li>
                                	<li>
                                		<label>还清时间：</label>
	                                    <input type="text" class="scinput1" name="beginTime" onclick="WdatePicker({autoPickDate:'true',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
	                                    <span> 至 </span>
	                                    <input type="text" class="scinput1" name="endTime" onclick="WdatePicker({autoPickDate:'true',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
	                                </li>
	                                <li>
	                                	<input type="hidden" name="cleanUpStatus" id="cleanUpStatus" th:value="${type}"/>
	                                    <input type="button" class="scbtn" value="查询" id="queryId"/>
	                                </li>
	                            </ul>
                            </form>
                            <div class="table-title">
                            	<th:block th:if="${type} == '90'">
                                	<p class="tab-font">已还清记录</p>
                                </th:block>
                                <th:block th:if="${type} == '88'">
                                	<p class="tab-font">提前还款记录</p>
                                </th:block>
                                
                            </div>
                            <div id="payFinishedId" th:include="payPlan/temp/_PayFinishedTemp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<script src="/js/public/select.js"></script>
		<footer th:replace="common/footer"></footer>
	</div>
	<script th:inline="javascript">
    	/*<![CDATA[*/
	    	seajs.use("payPlan/loanPayFinishedList");
    	/*]]>*/
    </script>
</body>
</html>