<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/src"></head>
<link rel="stylesheet" href="/js/public/jqueryValidation/css/validationEngine.jquery.css" type="text/css"/>
<script src="/js/public/area.js"></script>
<script type="text/javascript" src="/js/public/My97DatePicker/WdatePicker.js"></script>
<body>
    <div class="father">
        <header th:replace="common/top"></header>
        <div class="common-content">
            <div th:replace="common/left"></div>
            <div class="common-right">
                 <div class="place" id="place">
                    <span>位置：</span>
                    <ul class="placeul">
                        <li><a href="/">首页</a></li>
                        <li>资金管理</li>
                        <li>公司资金账目管理</li>
                        <li><a href="javascript:window.location.reload(true)">平台支出</a></li>
                    </ul>
                </div>
            
                <div class="right-content">
                	<div style="position: relative;">
	                    <div class="formbody">
	                        <div id="usual1" class="usual">
	                             <form action="/feesPlan/expend" id="myForm"  method="post" >
		                            <input  name="pageIndex" type="hidden" value="" id="currentPageNo"/>
		                        
		                            <ul class="seachform1">
	                                <li>
	                                    <label>报单编号：</label>
	                                    <input type="text" class="scinput1" name="orderNo" th:value="${params.orderNo}" />
	                                </li>
	                                <li>
	                                    <label>支出类型：</label>
	                                    <div class="vocation">
	                                        <select class="select-common select3" name="subjectId" >
	                                             <option value="">请选择</option>
		                                            	<th:block th:unless="${#lists.isEmpty(accountsSubjectInfoList)}">
															<th:block th:each="cust,iter : ${accountsSubjectInfoList}">
																<option   th:attr="selected=(${params.subjectId} eq ${cust.subjectId})?true:false"
																 th:value="${cust.subjectId}" th:text="${cust.subjectName}">
																</option>
															</th:block>
													</th:block>
	                                        </select>
	                                    </div>
	                                </li>
	                                <li>
	                                    <label>支出方式：</label>
	                                    <div class="vocation">
	                                        <select class="select-common select3" name="transWay" >
	                                        		<option value="">请选择</option>
	                                        		<th:block th:each="oi : ${#ctx.servletContext.getAttribute('enumMap').disbursementList}" >
								                    	<option th:attr="selected=(${params.transWay} eq ${oi.order})?true:false" th:value="${oi.order}" th:text="${oi.value}"></option>
	                                        		 </th:block>
	                                        		
	                                        </select>
	                                    </div>
	                                </li>
	                                <li class="sarchbtn">
	                                    <input type="button" id="searcher" class="scbtn" value="查询"/>
	                                </li>
	                            </ul>
	                             </form>
	                            <div class="table-title">
	                                <p class="tab-font">平台支出</p>
	                            </div>
	                            <table class="tablelist">
	                                <thead>
	                                    <tr>
	                                    	 <!-- 
	                                        <th><input type="checkbox"/>&nbsp;选择</th>
	                                    	  -->
	                                        <th>序号</th>
	                                        <th>报单编号</th>
	                                        <th>借款人</th>
	                                        <th>资金方</th>
	                                        <th>放款时间</th>
	                                        <th>支出类型</th>
	                                        <th>金额（元）</th>
	                                        <th>发放方式</th>
	                                        <th>备注</th>
	                                        <th>操作</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	   
	                                	   <th:block th:unless="${#lists.isEmpty(page.resultList)}">
	                                    <tr th:each="vo,start : ${page.resultList}">
	                                       <!-- 
	                                        <td>
	                                            <input type="checkbox"/>
	                                        </td>
	                                        -->
	                                        <td th:text="${start.index + 1}"></td>
	                                        <td th:text="${vo.orderNo}"></td>
	                                        <td th:text="${vo.borrower}"></td>
	                                        <td th:text="${vo.orgName}"></td>
	                                        <td th:text="${vo.lendingTime}?${#dates.format(vo.lendingTime,'yyyy-MM-dd HH:mm:ss')}:''"></td>
	                                        <td th:text="${vo.subjectName}"></td>
	                                        <td th:text="${vo.feesAmount}?${#numbers.formatDecimal(vo.feesAmount,1,2)}"></td>
	                                        <td>
                                        		<th:block th:if="${vo.transWay} eq 0">一次性发放</th:block>
								            	<th:block th:if="${vo.transWay} eq 1">按月发放</th:block>
								            	<th:block th:if="${vo.transWay} eq ''">无</th:block>
	                                        </td>
	                                        <td th:text="${vo.remark}"></td>
	                                        <td>
	                                        	  <th:block th:if="${vo.status} eq '90'">完成</th:block>
	                                        	  <th:block th:if="${vo.status} eq '03'">
	                                             <a  href="javascript:void(0);" class="tablelink mlt10" th:attr="data-feesId=${vo.feesId},data-amount=${vo.feesAmount},data-subjectid=${vo.subjectId}">支出</a>
								                </th:block>
	                                        </td>
	                                    </tr>
	                                    </th:block>
	                                    <th:block th:if="${#lists.isEmpty(page.resultList)}">
		                                    <tr>
		                                        <td colspan="10" class="textCt">暂无数据</td>
		                                    </tr>
		                                </th:block>
	                                </tbody>
	                            </table>
	                            <div class="pagin" style="margin-top: 0px;">
	                                <div class="message">
	                                     统计数据(<th:block th:text="${page.totalCount}" >xxxx</th:block>条);&nbsp;&nbsp;&nbsp;支出总额：<th:block th:text="${total}" >xxxx</th:block>元
	                                </div>
	                            </div>
								
								<div class="pagin" th:unless="${#lists.isEmpty(page.resultList)}">
									<div class="message">
									<!-- 
									<input type="button" value="导出" class="scbtn1" style="width: 65px;" id="export" />&nbsp;&nbsp;&nbsp;
									 -->
										共 <i class="blue" th:text="${page.totalCount}"></i> 条记录，当前显示第 <i
											class="blue" th:text="${page.pageIndex}"></i> 页
									</div>
									<ul class="paginList">
										<li class="paginItem" th:if="${page.pageIndex} gt 1"><a
											th:attr="data-pagenum=(${page.pageIndex}-1)" class="pagepre"></a>
										</li>
										<li class="paginItem"
											th:each="x:${#numbers.sequence(page.startNum, page.endNum)}"
											th:classappend="(${page.pageIndex} eq ${x})?'current'"><a
											th:attr="data-pagenum=${x}" th:text="${x}"></a></li>
										<li class="paginItem"
											th:if="${page.pageIndex} lt ${page.pageCount}"><a
											th:attr="data-pagenum=(${page.pageIndex}+1)" class="pagenxt"></a>
										</li>
									</ul>
								</div>
	                       
								                       
	                        </div>
	                    </div>


	                    <!-- 收款弹窗 -->
	                    <div class="previewBack" style="display: none;" id="previewBackId"></div>
	                    <div class="preview" style="display: none;"  id="previewId">
	                       <form id="feesPlanForm"  action="" method="post">
	                          <input name="feesId" type="hidden" id="_feesId" />
	                          <input name="transType" type="hidden" th:value="02"/>
	                          <input id="subjectId" name="subjectId" type="hidden"/>
	                        <div class="formbody">
	                            <div class="table-title">
	                                <p class="tab-font">收款</p>
	                            </div>
	                            <div class="toolsli pt10">
	                                <ul class="nbbdgl-Ui">
	                                    <li style="width: 80%;">
	                                        <span class="tips">应支出金额：</span>
	                                        <input type="text" class="txt" id="rightFee" readOnly="true" />
	                                        <span>元</span>
	                                    </li>
	                                    <li style="width: 80%;">
	                                        <span class="tips">实际支出金额：</span>
	                                        <input type="number" name="paidAmount" class="txt validate[required,custom[numberTwo]]"/>
	                                        <span>元</span>
	                                    </li>
	                                    <li style="width: 80%;">
	                                        <span class="tips">支出时间：</span>
	                                        <input type="text"  class="txt  validate[required]" readOnly="readOnly" name="doTime" onclick="WdatePicker({autoPickDate:'true',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
	                                    </li>
	                                    <li style="width: 80%;">
	                                        <span class="tips">备注：</span>
	                                        <textarea name="remark" class="area"></textarea>
	                                    </li>
	                                </ul>
	                            </div>
	                            <p class="textCt pb20">
	                                <input type="button" id="feesPlanForm_submit" class="scbtn" value="确 定"/>
	                                <input type="button" class="scbtn2 mlt10" value="取 消" id="reset"/>
	                            </p>
	                        </div>
	                        
	                        </form>
	                         
	                    </div>

					</div>

                </div>
           
           
           
            </div>
          </div>
        <footer class="common-footer">
            <span></span>
            <i></i>
        </footer>
    </div>
   
     	<script src="/js/public/select.js"></script>
        <footer th:replace="common/footer"></footer>
    <script src="/js/public/jqueryValidation/js/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8"></script>  
	<script src="/js/public/jqueryValidation/js/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8" src="/js/public/My97DatePicker/WdatePicker.js"></script>
    <script> seajs.use("feesPlan/feesPlanList");</script>
</body>
</html>