<div class="formtitle"><span>资金方基本信息</span></div>
<table class="tablelist" id="capitalSideInfo">
    <thead>
                          <tr>
                              <th style="width: 30px;">序号</th>
                              <th>客户性质</th>
                              <th>手机号/机构ID/公司ID</th>
                              <th>账户名</th>
                              <th>银行卡号</th>
                              <th>开户银行</th>
                              <th>开户行</th>
                              <th>放款金额（元）</th>
                              <th>放款利率</th>
                              <th>可用余额（元）</th>
                              <th>所属资金方</th>
                          </tr>
                          </thead>
       <tbody>
                          <th:block th:unless="${#lists.isEmpty(loanCapitalInfoList)}">
  							<tr th:each="capitalInfo,iterStat:${loanCapitalInfoList}">
								<td th:text="${iterStat.count}"></td>
								<td th:text="${capitalInfo.typeName}"></td>
								<td th:text="${capitalInfo.mobile}"></td>
								<td th:text="${capitalInfo.accountName}"></td>
					            <td th:text="${capitalInfo.bankcardId}"></td>
					            <td th:text="${capitalInfo.bankName}"></td>
					            <td th:text="${capitalInfo.branchBank}"></td>
					            <td th:text="${capitalInfo.amountPaid}?${#numbers.formatDecimal(capitalInfo.amountPaid,1,2)}"></td>
					            <td th:text="${capitalInfo.amountRate}?${#numbers.formatDecimal(capitalInfo.amountRate,1,3)}+'%/'+${capitalInfo.amountRateUnit}"></td>
								<td th:text="${capitalInfo.balance}?${#numbers.formatDecimal(capitalInfo.balance,1,2)}:0.00"></td>
								<td th:text="${capitalInfo.orgName}"></td>
							</tr>
						</th:block>
						<th:block th:if="${#lists.isEmpty(loanCapitalInfoList)}">
							<tr><td colspan="11" align="center">暂无数据 </td></tr>
						</th:block>
       </tbody>
</table>
<!-- 
<p style="font-weight: bold; font-size: 14px; color:red; padding-top: 20px;">公司自有资金放款</p>
 <div class="formtitle"><span>业务资金申请书</span></div>
 <table class="tablelist">
     <thead>
         <tr>
             <th>产品名称</th>
             <th>客户名称</th>
             <th>出借人</th>
             <th>放款金额（元）</th>
             <th>资金调拨申请日</th>
             <th>资金调拨到账日</th>
             <th>借款期限</th>
             <th>借款到期日期</th>
             <th>是否已报备</th>
         </tr>
     </thead>
     <tbody>
     <th:block th:if="${buzFundApply}">
     
         <tr>
             <td th:text="${buzFundApply.productName}">一抵</td>
             <td th:text="${buzFundApply.custName}">张三</td>
             <td th:text="${buzFundApply.lenderName}">李四</td>
             <td th:text="${buzFundApply.loanAmount}">1,900,009</td>
             <td th:text="${buzFundApply.applyDate}?${#dates.format(buzFundApply.applyDate,'yyyy-MM-dd')}:''">2016-09-09</td>
             <td th:text="${buzFundApply.replyDate}?${#dates.format(buzFundApply.replyDate,'yyyy-MM-dd')}:''">2016-09-09</td>
             <td th:text="${buzFundApply.loanTerm}">3个月</td>
             <td th:text="${buzFundApply.expireDate}?${#dates.format(buzFundApply.expireDate,'yyyy-MM-dd')}:'' ">2016-09-09</td>
             <td>
             	<th:block th:if="${buzFundApply.isReport} eq 0">是</th:block>
             	<th:block th:if="${buzFundApply.isReport} eq 1">否</th:block>
             </td>
         </tr>
         <tr>
             <td>分公司收款账号</td>
             <td class="textCt" colspan="8">6214865874596523</td>
         </tr>
         <tr>
             <td>户名</td>
             <td class="textCt" colspan="3">张三</td>
             <td>开户行</td>
             <td class="textCt" colspan="4">招商银行</td>
         </tr>
         </th:block>
     </tbody>
 </table>
-->

<div class="formtitle pt20"><span>收入列表</span></div>
<table class="tablelist" id="incomeInfo">
    <thead>
        <tr>
        		  <th style="width: 30px;">序号</th>
	             <th>收入类型</th>
	             <th>金额（元）</th>
	             <th>收入方式</th>
	             <th>备注</th>
        </tr>
    </thead>
    <tbody>
    	<th:block th:if="${#lists.isEmpty(loanCapitalEarningList)}">
    	    <tr>
            <td class="textCt" colspan="5">暂无数据</td>
        </tr>
    </th:block>
	    <th:block th:unless="${#lists.isEmpty(loanCapitalEarningList)}">
	          <tr th:each="capitalEarning,iterStat:${loanCapitalEarningList}">
	            <input type="hidden"  th:value="${capitalEarning.capitalEarningId}" name="capitalEarningId"/>
	            <td th:text="${iterStat.count}"></td>
	            <td>
	                <div class="vocation">
	                <th:block th:unless="${#lists.isEmpty(inSubjectList)}" th:each="cust,iter : ${inSubjectList}">
								<th:block th:if="${capitalEarning.earningVariety} eq ${cust.subjectId}"
								 th:text="${cust.subjectName}">
								</th:block>
					 </th:block>
	                </div>
	            </td>
	            <td th:text="${capitalEarning.earningAmount}?${#numbers.formatDecimal(capitalEarning.earningAmount,1,2)}:0.00"></td>
	            <td>
	                <div class="vocation">
	                	<th:block th:if="${capitalEarning.earningApproach} eq 0">一次性收入</th:block>
	                	<th:block th:if="${capitalEarning.earningApproach} eq 1">按月收入</th:block>
	                </div>
	            </td>
	            <td th:text="${capitalEarning.remark}"></td>
	        </tr>
		</th:block>
    </tbody>
</table>
<div class="formtitle pt20"><span>支出列表</span></div>
<table class="tablelist" id="expenditureInfo">
    <thead>
    <tr>
       <th style="width: 30px;">序号</th>
        <th>支出类型</th>
        <th>金额（元）</th>
        <th>发放方式</th>
        <th>返费账户</th>
        <th>银行卡号</th>
        <th>开户银行</th>
        <th>开户行</th>
        <th>备注</th>
    </tr>
    </thead>
     <tbody>
                                <th:block th:unless="${#lists.isEmpty(loanCapitalExpenditureList)}">
								    <tr th:each="capitalExpenditure,iterStat:${loanCapitalExpenditureList}">
								        <input type="hidden"  th:value="${capitalExpenditure.capitalExpenditureId}" name="capitalExpenditureId"/>
								        <td th:text="${iterStat.count}"></td> 
								        <td>
								            <div class="vocation">
								                <th:block th:unless="${#lists.isEmpty(outSubjectList)}" th:each="cust,iter : ${outSubjectList}">
															<th:block th:if="${capitalExpenditure.expenditureVariety} eq ${cust.subjectId}"
															 th:text="${cust.subjectName}">
															</th:block>
												 </th:block>
								            </div>
								        </td>
								        <td th:text="${capitalExpenditure.amount}?${#numbers.formatDecimal(capitalExpenditure.amount,1,2)}:0.00"></td>
								        <td>
								            <div class="vocation">
								            	<th:block th:if="${capitalExpenditure.disbursement} eq 0">一次性发放</th:block>
								            	<th:block th:if="${capitalExpenditure.disbursement} eq 1">按月发放</th:block>
								            </div>
								        </td>
								        <td th:text="${capitalExpenditure.accountName}"></td>
								        <td th:text="${capitalExpenditure.bankcardId}"></td>
								        <td th:text="${capitalExpenditure.bankName}"></td>
								        <td th:text="${capitalExpenditure.branchBank}"></td>
								        <td th:text="${capitalExpenditure.remark}"></td>
								    </tr>
								</th:block>
								<th:block th:if="${#lists.isEmpty(loanCapitalExpenditureList)}">
									<tr><td colspan="9" align="center">暂无数据 </td></tr>
								</th:block>
                            </tbody>
	    	
</table>
<div class="formtitle pt20"><span>参数设置</span></div>
                            <table class="tablelist">
                                <thead>
                                <tr>
                                     <th style="width: 30px;">序号</th>
							      	<th>是否担保</th>
									<th>是否垫还</th>
									<th>结息方式</th>
									<th>结息固定日</th>
									<th>付息方式</th>
									<th>付息固定日</th>
									<th>逾期贷款利率(%/天)</th>
									<th>债务利率(%/天)</th>
									<th>还款违约金率(%/天)</th>
									<th>逾期付款利率(%/天)</th>
									<th>付款违约金率(%/天)</th>
									<th>备注</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:if="${loanParasConfig}">
                                
                                <tr>
                                    <td>1</td>
                                    <td>
                                    	<th:block th:if="${loanParasConfig.lpcIsGuarantee} eq 0">不支持</th:block>
                                    	<th:block th:if="${loanParasConfig.lpcIsGuarantee} eq 1">支持</th:block>
                                    </td>
                                    <td>
                                    	<th:block th:if="${loanParasConfig.lpcIsAdvance} eq 0">不支持</th:block>
                                    	<th:block th:if="${loanParasConfig.lpcIsAdvance} eq 1">支持</th:block>
                                    </td>
                                    <td>
							        	<th:block th:if="${loanParasConfig.lpcInterestType} eq 0">放款日结息</th:block>
							        	<th:block th:if="${loanParasConfig.lpcInterestType} eq 1">到期日结息</th:block>
							        	<th:block th:if="${loanParasConfig.lpcInterestType} eq 2">固定日结息</th:block>
							        </td>
							        <td>
							        	<th:block th:if="${loanParasConfig.lpcInterestType} eq 2" 
							        		th:text="${loanParasConfig.lpcInterestRegular}?${#dates.format(loanParasConfig.lpcInterestRegular,'yyyy-MM-dd HH:mm:ss')}:''"></th:block>
							        </td>
							        <td>
							        	<th:block th:if="${loanParasConfig.lpcPayType} eq 0">放款日付息</th:block>
							        	<th:block th:if="${loanParasConfig.lpcPayType} eq 1">到期日付息</th:block>
							        	<th:block th:if="${loanParasConfig.lpcPayType} eq 2">固定日付息</th:block>
							        </td>
							        <td>
							        	<th:block th:if="${loanParasConfig.lpcPayType} eq 2" 
							        		th:text="${loanParasConfig.lpcPayRegular}?${#dates.format(loanParasConfig.lpcPayRegular,'yyyy-MM-dd HH:mm:ss')}:''"></th:block>
							        </td>
                                    <td th:text="${loanParasConfig.lpcOverdueInteType}?${#numbers.formatDecimal(loanParasConfig.lpcOverdueInteType,1,3)}:0.000"></td>
							        <td th:text="${loanParasConfig.lpcDebtInteRate}?${#numbers.formatDecimal(loanParasConfig.lpcDebtInteRate,1,3)}:0.000"></td>
							        <td th:text="${loanParasConfig.lpcRepayLiquRate}?${#numbers.formatDecimal(loanParasConfig.lpcRepayLiquRate,1,3)}:0.000"></td>
							        <td th:text="${loanParasConfig.lpcOverOutRate}?${#numbers.formatDecimal(loanParasConfig.lpcOverOutRate,1,3)}:0.000"></td>
							        <td th:text="${loanParasConfig.lpcPayLiquRate}?${#numbers.formatDecimal(loanParasConfig.lpcPayLiquRate,1,3)}:0.000"></td>
							        <td th:text="${loanParasConfig.remark}"></td>
                                </tr>
                                </th:block>
                                </tbody>
</table>