<head>
	<meta charset="UTF-8"/>
	<meta name="renderer" content="webkit|ie-stand"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/css/select.css" rel="stylesheet" type="text/css"/>
	<!--[if lt IE 9]>
	  <script src="/js/public/html5shim.js"></script>
	  <script src="/js/public/respond.js"></script>
	  <script src="/js/public/indexOf.js"></script>
	<![endif]-->
	<script src="/js/public/alert.min.js"></script>
	<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/public/jquery.cookie.pack.js"></script>
	<script src="/js/public/jquery.form.js"></script>
	<script src="/js/public/select-ui.min.js"></script>
	<script src="/js/public/sea.js"></script>
	<script src="/js/public/util.js"></script>
	<script src="/js/public/itab.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		    //Set configuration--------------引入seajs之前需引入jQuery库，该代码可放入公有页面
		    seajs.config({
		        base: "/js/jsxd/",				//base表示基址寻址时的基址路径
		        alias: {							//alias可以对较长的常用路径设置缩写
		            //"select": "select-ui.min.js"
		        },
		        charset: 'utf-8',					//charset表示下载js时script标签的charset属性
		        timeout: 20000,						//timeout表示下载文件的最大时长，以毫秒为单位
		        debug: false						//debug表示是否工作在调试模式下
		    });
		/*]]>*/
	</script>
</head>