<style>
	.messageIcon{display:inline-block; width:24px;height:24px;background:url(/img/messageIcon.png)  no-repeat; float:left;}
</style>
<header class="common-header">
    <div class="topleft" style="width:auto;">
        <a href="/index/index" style="display:inline-block; height:100%; width:600px;">
        	<img src="/img/logo.png" style="height:78%; margin-top:13px;"/>
        	<span style="line-height:88px;color:#fff;font-size:17px;margin-left:85px;"
        		th:text="${session.currentUser.companyName}?${session.currentUser.companyName}:'北京晋商睦家资产管理有限责任公司'"></span>
        </a>
    </div>
    <div class="topright">
        <ul>
        	<li>
        		<a href="/noticeRecord/list"><em class="messageIcon"></em><span th:text="'（'+${session.noticeTotal}+'）'"></span></a>
        	</li>
        	<li>
			  <a href="/teleporting/lhhs_saas"> <span class="hidden-xs"> 碰碰旺管理系统</span> </a>
			</li>
            <!-- 
             <li><span>角色： <th:block th:text="${session.currentUser.lrName}"></th:block></span></li>
             -->
            <li><a href="/logout">退出</a></li>
        </ul>
        <div class="user">
            <span th:text='${session.currentUser.username}'></span>
        </div>
    </div>
</header>